{% extends 'layout.html' %}

{% set pageName = "Clinics" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Clinics", serviceName) }}
{% endblock %}

{% block beforeContent %}
  <nav>
    <a class="nhsuk-back-link" href="/clinics/">
      Back to clinics
    </a>
  </nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l">Clinic</span>
        Chichester - St Richards
      </h1>
      <p>
        <a href="#">Alpha van</a><br>
        <a href="#">St Richard’s Hospital, Chichester</a>
      </p>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
      <ul class="nhsuk-list">
        <li>
          <a href="#">Edit clinic name</a>
        </li>
        <li>
          <a href="#">Change unit and location</a>
        </li>
        <li>
          <a href="#" class="app-link--warning">Archive this clinic</a>
        </li>
      </ul>
    </div>
  </div>

  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-card-editable">
        <h2 class="nhsuk-heading-l">Schedules</h2>
        {{ button({
          text: "Create a new schedule",
          href: "#",
          classes: "nhsuk-button--secondary"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <table class="nhsuk-table nhsuk-table-responsive">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">
              Clinic
            </th>
            <th scope="col" class="nhsuk-table__header">
              Unit and location
            </th>
            <th scope="col" class="nhsuk-table__header">
              Current schedules
            </th>
            <th scope="col" class="nhsuk-table__header">
              Current capacity
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <a href="#">Chichester - St Richards<br></a>
              <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-NNN-standard-20260501</span>
            </td>
            <td class="nhsuk-table__cell">
              Alpha van<br>
              St Richard’s Hospital, Chichester
            </td>
            <td class="nhsuk-table__cell">
              31 August 2026 to 9 October 2026
            </td>
            <td class="nhsuk-table__cell">
              1500 slots available<br>
              <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">of which 150 held</span>
            </td>
          </tr>

          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <a href="#">Chichester - St Richards<br></a>
              <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-NNN-standard-20260501</span>
            </td>
            <td class="nhsuk-table__cell">
              Alpha van<br>
              St Richard’s Hospital, Chichester
            </td>
            <td class="nhsuk-table__cell">
              <span class="nhsuk-u-secondary-text-colour">No active schedules</span>
            </td>
            <td class="nhsuk-table__cell">
              1500 slots available<br>
              <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">of which 150 held</span>
            </td>
          </tr>
        </tbody>
      </table>
    
        
<!-- 
    [
      {
        html: '<a href="#">Worthing - special slots May 2026<br></a><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-NNN-special-20260501</span>'
      },
      {
        html: 'Worthing<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">Worthing Hospital</span>'
      },
      {
        html: 'Home base<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-static-1</span> '
      },
      {
        html: '<progress class="app-progress-bar --generic" value="60" max="100">60%</progress><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">40 slots available of 100</div>'
      }
    ]
  ]
}) }} -->


    </div>
  </div>

{% endblock %}
