{% extends 'layout.html' %}

{% set pageName = "West Sussex Breast Care Centre" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Manage other stuff", serviceName) }}
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "#",
      text: "Home"
    },
    {
      href: "/bso-objects/",
      text: "Manage other stuff"
    },
    {
      href: "/bso-objects/units",
      text: "Breast screening units"
    }
  ]
}) }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full app-card-editable">
        <div>
          <span class="nhsuk-caption-m">“Home base” - Static unit HWO-static-1</span>
          <h1 class="nhsuk-heading-l">
            West Sussex Breast Care Centre
          </h1>
        </div>
        <p class="nhsuk-u-padding-right-5"><a href="#">Change</a></p>
    </div>
  </div>
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full app-card-editable">
      <div>
        <span class="nhsuk-caption-m">Location:</span>
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
          Worthing hospital
        </h2>
        <p class="nhsuk-body-m">
          Lyndhurst Road, Worthing, BN11 2DH
        </p>
      </div>
      <p class="nhsuk-u-padding-right-5"><a href="#">Change</a></p>
    </div>
  </div>

  {% set secondaryNavItems = [] %}

  {% for item in [
    { href: 'static-public-details', label: 'Public details', selected: 'true' },
    { href: 'static-internal-details', label: 'Internal details' }
  ] %}
    {% set secondaryNavItems = secondaryNavItems | push({
      text: item.label | safe,
      href: item.href | trim,
      current: true if item.selected == 'true'
    }) %}
  {% endfor %}

  {{ appSecondaryNavigation({
    visuallyHiddenTitle: "Secondary menu",
    items: secondaryNavItems
  }) }}



    {% set insetTextHtml %}
      <p><b>Note:</b> these details appear verbatim in public communications</p>
    {% endset %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {{ insetText({
          html: insetTextHtml,
          classes: "nhsuk-u-margin-top-0"
        }) }}
      </div>
    </div>

    {% set facilitiesHtml %}
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Toilets</li>
        <li>Accessible toilet</li>
        <li>Bring a companion or carer</li>
        <li>Induction loop</li>
        <li>Waiting area</li>
        <li>Wheelchair access</li>
      </ul>
    {% endset %}
    {% call card({
      headingHtml: '
        <div class="app-card-editable nhsuk-u-margin-bottom-4">
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Facilities available:</h2>
          <p class="nhsuk-u-margin-bottom-0"><a href="#">Change</a></p>
        </div>
      '
    }) %}
      {{ facilitiesHtml | safe }}
    {% endcall %}
    
    
    {% set notesHtml %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
          <p>
            Our waiting area has 4 chairs, space for 1 wheelchair, and is heated.
          </p>
          <p>
            Please arrive no more than 10 minutes before the time on your invitation.
          </p>
        </div>
    {% endset %}
    {{ card({
      headingHtml: '
        <div class="app-card-editable nhsuk-u-margin-bottom-4">
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Before-you-go notes for screening participants:</h2>
          <p class="nhsuk-u-margin-bottom-0"><a href="#">Change</a></p>
        </div>
      ',
      descriptionHtml: notesHtml
    }) }}
{% endblock %}
