<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-four-fifths">
    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">Clinic</span>
      {{ data.createCapacityFromZero.clinicName or pageVarClinicName }}
    </h1>
    <p>
      <a href="#">{{ data.createCapacityFromZero.unit or pageVarUnit }}</a> at <a href="#">{{ data.createCapacityFromZero.location or pageVarLocation }}</a>
    </p>
  </div>
  <div class="nhsuk-grid-column-one-fifth">
    <ul class="nhsuk-list">
      <li>
        <a href="create-clinic">Edit clinic properties</a>
      </li>
      <li>
        <a href="#" class="app-link--warning">Archive clinic</a>
      </li>
    </ul>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <table class="nhsuk-table nhsuk-table--compact app-clinic-capacity-summary">
      <caption class="nhsuk-u-visually-hidden">
        Capacity summary
      </caption>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">
            Slots available:
          </th>
          <td class="nhsuk-table__cell">
            {{ totalAvailableSlots or 0 }}
            <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">
              of which {{ totalAvailableSlotsHeld or 0 }} held</span>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">
            Locked slots:
          </th>
          <td class="nhsuk-table__cell">
            {{ totalLockedSlots or 0 }}
            <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">(including held)</span>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">
            Slots booked:
          </th>
          <td class="nhsuk-table__cell">
            {{ totalSlotsBooked or 0 }}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% set secondaryNavItems = [] %}

    {% for item in [
      { href: '#', label: 'Current schedules', selected: 'true' },
      { href: '#', label: 'Past schedules' }
    ] %}
      {% set secondaryNavItems = secondaryNavItems | push({
        text: item.label | safe,
        href: item.href | trim,
        current: true if item.selected == 'true'
      }) %}
    {% endfor %}

    {{ appSecondaryNavigation({
      visuallyHiddenTitle: "Secondary menu",
      items: secondaryNavItems
    }) }}
  </div>
</div>