<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-four-fifths">
    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">Clinic</span>
      {{ data.createCapacityFromZero.clinicName }}
    </h1>
    <p>
      <a href="#">{{ data.createCapacityFromZero.unit }}</a> at <a href="#">{{ data.createCapacityFromZero.location }}</a>
    </p>
  </div>
  <div class="nhsuk-grid-column-one-fifth">
    <ul class="nhsuk-list">
      <li>
        <a href="create-clinic">Edit clinic properties</a>
      </li>
      <li>
        <a href="#" class="app-link--warning">Archive clinic</a>
      </li>
    </ul>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% set secondaryNavItems = [] %}

    {% for item in [
      { href: '#', label: 'Current schedules', selected: 'true' },
      { href: '#', label: 'Past schedules' }
    ] %}
      {% set secondaryNavItems = secondaryNavItems | push({
        text: item.label | safe,
        href: item.href | trim,
        current: true if item.selected == 'true'
      }) %}
    {% endfor %}

    {{ appSecondaryNavigation({
      visuallyHiddenTitle: "Secondary menu",
      items: secondaryNavItems
    }) }}
  </div>
</div>