  <dialog id="template-preview-standard" class="app-template-preview-dialog" popover>
    <div class="app-template-preview-dialog__content">
      <button type="button" class="app-template-preview-dialog__close" popovertarget="template-preview-standard" popovertargetaction="hide">
        <span aria-hidden="true">&times;</span>
        <span class="nhsuk-u-visually-hidden">Close full template preview</span>
      </button>
      <iframe class="app-template-preview-dialog__frame" src="select-session-template-full-preview" title="Full template preview"></iframe>
    </div>
  </dialog>