{% extends 'layout.html' %}

{% set pageName = "" %}

{% from "mission-1/current-iteration/includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Batches", serviceName, bsoName) }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% set html %}
        <p class="nhsuk-notification-banner__heading">Batch uploaded</p>
      {% endset %}
      {{ notificationBanner({
        html: html,
        type: "success"
      }) }}
    </div>
  </div>

  {% from "mission-1/current-iteration/macros/batch-detail.html" import batch_detail %}
  {{ batch_detail({
    participant_count: data.participants.default.length,
    button_url:"../create-clinic"
  }) }}

{% endblock %}

{% block footer %}
  {{ footer() }}
{% endblock %}