// Import NHS.UK frontend library
@use "sass:math";

@forward "nhsuk-frontend/dist/nhsuk/nhsuk" with (
  $nhsuk-page-width: 1280px,
  $nhsuk-grid-widths: (
    one-quarter: math.percentage(math.div(1, 4)),
    one-third: math.percentage(math.div(1, 3)),
    one-half: math.percentage(math.div(1, 2)),
    two-thirds: math.percentage(math.div(2, 3)),
    three-quarters: math.percentage(math.div(3, 4)),
    one-fifth: math.percentage(math.div(1, 5)),
    four-fifths: math.percentage(math.div(4, 5)),
    full: 100%
  )
);

@use "nhsuk-frontend/dist/nhsuk/core" as *;

// Stolen Manage prototype components :P
// https://github.com/NHSDigital/manage-breast-screening-prototype

@forward "components/calendar-table";
@forward "components/clinic-level-breadcrumbs";
@forward "components/grid-extensions";
@forward "components/inline-detailed-search";
@forward "components/secondary-navigation";
@forward "components/participant-table";
//@forward "components/participant-search";
@forward "components/progress-bar";
@forward "components/template-card";
@forward "components/template-preview-dialog";
@forward "components/workflow";

//{% set containerClasses = "nhsuk-width-container-fluid" %}
// Add your custom CSS/Sass styles below.
.app-width-extended {
  width: 1280px;
}

a {
  @extend .nhsuk-link--no-visited-state;
}

.app-card-editable {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.app-link--error,
.app-link--warning {
  &,
  &:visited {
    color: $nhsuk-error-colour;
  }

  &:hover,
  &:hover:visited {
    color: nhsuk-shade($nhsuk-error-colour, 20%);
  }

  &:hover:active {
    color: $nhsuk-text-colour;
  }
}

// Batch (for now) view bar charts and legends

.hatching--standard {
  background: var(--standard-chart-hatch)
}
.hatching--special {
  background: var(--special-chart-hatch)
}
.hatching--ceased {
  background: var(--ceased-chart-hatch)
}
.hatching--high-risk {
  background: var(--vhr-chart-hatch)
}

.app-segmented-cards {
  .nhsuk-card__content {
    display: flex;
    gap: 8px;
    @include nhsuk-responsive-padding(3);
  }
  .swatch {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: 6px;
    vertical-align: middle;
  }
}

.app-batch-overview-sparkline {
  background-color: #fff;
}
.app-u-one-left-one-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.nhsuk-grid-column-four-fifths {
  @include nhsuk-grid-column(four-fifths);
}

.nhsuk-grid-column-one-fifth {
  @include nhsuk-grid-column(one-fifth);
}
