{{ table({
  firstCellIsHeader: false,
  head: [
    {
      text: 'Clinic'
    },
    {
      text: 'Location'
    },
    {
      text: 'Unit'
    },
    {
      text: 'Current capacity'
    }
  ],
  rows: [
    [
      {
        html: '<a href="#">Chichester - standard slots May 2026<br></a><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-NNN-standard-20260501</span>'
      },
      {
        html: 'Chichester<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">St Richard’s Hospital</span>'
      },
      {
        html: 'Alpha van<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-mobile-1</span> '
      },
      {
        html: '<div class="app-simple-progress-bar --generic --thin nhsuk-u-padding-1 nhsuk-u-margin-bottom-1" style="--percentage: 99%;"></div><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">10 slots available of 1360</div>'
      }
    ],
    [
      {
        html: '<a href="#">Worthing - special slots May 2026<br></a><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-NNN-special-20260501</span>'
      },
      {
        html: 'Worthing<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">Worthing Hospital</span>'
      },
      {
        html: 'Home base<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-static-1</span> '
      },
      {
        html: '<div class="app-simple-progress-bar --generic --thin nhsuk-u-padding-1 nhsuk-u-margin-bottom-1" style="--percentage: 60%;"></div><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">40 slots available of 100</div>'
      }
    ]
  ]
}) }}
