{{ table({
  firstCellIsHeader: false,
  head: [
    {
      text: 'Clinic'
    },
    {
      text: 'Location'
    },
    {
      text: 'Unit'
    },
    {
      text: 'Current capacity'
    }
  ],
  rows: [
    [
      {
        html: '<a href="#">Worthing - test day September 2026<br></a><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-NNN-standard-20260901</span>'
      },
      {
        html: 'West Sussex Breast Care Centre<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">Worthing hospital</span>'
      },
      {
        html: 'Alpha van<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-mobile-1</span> '
      },
      {
        html: '<span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">No slots created</div>'
      }
    ],
    [
      {
        html: '<a href="#">Chichester - standard slots May 2026<br></a><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-NNN-standard-20260501</span>'
      },
      {
        html: 'Chichester<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">St Richard’s Hospital</span>'
      },
      {
        html: 'Alpha van<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-mobile-1</span> '
      },
      {
        html: '<progress class="app-progress-bar --generic" value="99" max="100">99%</progress><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">10 slots available of 1360</div>'
      }
    ],
    [
      {
        html: '<a href="#">Worthing - special slots May 2026<br></a><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-NNN-special-20260501</span>'
      },
      {
        html: 'Worthing<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">Worthing Hospital</span>'
      },
      {
        html: 'Home base<br><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-static-1</span> '
      },
      {
        html: '<progress class="app-progress-bar --generic" value="60" max="100">60%</progress><span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">40 slots available of 100</div>'
      }
    ]
  ]
}) }}
