{% extends 'layout.html' %}

{% set pageName = "" %}

{% from "z-september-transactional-journey/_includes/min-primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation() }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% set html %}
        <p class="nhsuk-notification-banner__heading">
          All participants appointed successfully
        </p>
      {% endset %}
      {{ notificationBanner({
        html: html,
        type: "success"
      }) }}
      <h1 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
        <span class="nhsuk-caption-m">CLINC-ID</span>
        Clinic name
      </h1>
      <div class="nhsuk-caption-m">
        Unit name at location name
      </div>
    </div>
  </div>

  <hr class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-card-editable">
        <h2 class="nhsuk-heading-l">
          <span class="nhsuk-caption-m">Day view</span>
          1 September 2026
        </h2>
        {{ actionLink({
          text: "Download .csv",
          href: "#"
        }) }}
      </div>
    </div>
  </div>
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h3 class="nhsuk-heading-s">
        <span class="nhsuk-caption-m">Morning session</span>  
        08:30 to 12:30
      </h3>
      <details class="nhsuk-details nhsuk-expander" open>
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            0 slots available of 24
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul class="nhsuk-list">
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>08:30</span>
                <span>
                  Billie Joanne Marquardt<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 999 054 3666</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>08:40</span>
                <span>
                  Alice Marie Gregory<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 943 582 7164</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>08:50</span>
                <span>
                  Daphne Hart<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 821 374 0952</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>09:00</span>
                <span>
                  Marta O'Neill<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 702 195 4836</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>09:10</span>
                <span>
                  Susan Carter<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 614 287 9305</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>09:20</span>
                <span>
                  Olivia Barnes<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 505 463 1129</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>09:30</span>
                <span>
                  Rachel Price<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 336 774 2201</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>09:40</span>
                <span>
                  Hannah Wallace<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 223 546 8870</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>09:50</span>
                <span>
                  Fiona Lambert<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 410 559 3322</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>10:00</span>
                <span>
                  Georgia Mills<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 196 804 7753</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>10:10</span>
                <span>
                  Elaine Fox<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 378 290 4601</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>10:20</span>
                <span>
                  Tessa King<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 957 613 2084</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>10:30</span>
                <span>
                  Nadia Singh<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 604 118 9756</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>10:40</span>
                <span>
                  Jane Reed<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 842 039 6617</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>10:50</span>
                <span>
                  Laura White<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 731 259 1148</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>11:00</span>
                <span>
                  Marissa Young<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 665 880 3320</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>11:10</span>
                <span>
                  Naomi Bell<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 548 901 7732</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>11:20</span>
                <span>
                  Paige Long<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 439 216 5087</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>11:30</span>
                <span>
                  Catherine Wood<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 329 487 9901</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>11:40</span>
                <span>
                  Victoria Hale<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 214 603 1774</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>11:50</span>
                <span>
                  Imogen Frost<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 188 905 6423</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>12:00</span>
                <span>
                  Dara Moss<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 977 332 1108</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>12:10</span>
                <span>
                  Sophie Hartley<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 861 427 5930</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>12:20</span>
                <span>
                  Emma Cole<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 750 218 3446</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </details>
    </div>
  </div>
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-card-editable">
        <h4 class="nhsuk-heading-s">
          <span class="nhsuk-caption-m">Afternoon session</span>  
          13:30 to 17:30
        </h4>
      </div>
      <details class="nhsuk-details nhsuk-expander" open>
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            0 slots available of 24
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul class="nhsuk-list">
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>13:30</span>
                <span>
                  Megan Price<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 642 109 8875</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>13:40</span>
                <span>
                  Mia Ford<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 531 678 2209</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>13:50</span>
                <span>
                  Zoe Grant<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 419 502 6683</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>14:00</span>
                <span>
                  Ariana Miles<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 308 244 1196</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>14:10</span>
                <span>
                  Bethany Cross<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 297 883 4455</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>14:20</span>
                <span>
                  Callie Morris<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 186 771 9002</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>14:30</span>
                <span>
                  Helena Rowe<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 075 439 3321</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>14:40</span>
                <span>
                  Danielle Nash<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 964 210 5587</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>14:50</span>
                <span>
                  Faye Turner<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 853 619 4470</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>15:00</span>
                <span>
                  Leona Grant<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 742 908 2233</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>15:10</span>
                <span>
                  Nora Blake<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 631 776 9904</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>15:20</span>
                <span>
                  Olivia Lee<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 520 665 8805</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>15:30</span>
                <span>
                  Priya Desai<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 419 554 7706</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>15:40</span>
                <span>
                  Quinn Park<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 308 443 6607</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>15:50</span>
                <span>
                  Rosa Kirk<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 197 332 5508</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>16:00</span>
                <span>
                  Shannon Boyd<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 086 221 4409</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>16:10</span>
                <span>
                  Tara Voss<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 975 110 3310</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>16:20</span>
                <span>
                  Uma Jha<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 864 009 2201</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>16:30</span>
                <span>
                  Victoria Dean<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 753 898 1192</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>16:40</span>
                <span>
                  Wendy Fox<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 642 787 0083</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>16:50</span>
                <span>
                  Xena Holt<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 531 676 9974</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>17:00</span>
                <span>
                  Yasmin Noor<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 420 565 8865</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>17:10</span>
                <span>
                  Zara Moon<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 319 454 7756</span>
                </span>
              </div>
            </li>
            <li class="nhsuk-list-item app-slot-listing">
              <div class="app-slot-row">
                <span>17:20</span>
                <span>
                  Abigail Stone<br>
                  <span class="nhsuk-u-secondary-text-colour">NHS: 208 343 6647</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </details>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer() }}
{% endblock %}
