{% extends 'layout.html' %}

{% set pageName = "" %}

{% from "z-september-transactional-journey/_includes/min-primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation() }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% set html %}
        <p class="nhsuk-notification-banner__heading">
          Participant successfully added to group
        </p>
      {% endset %}
      {{ notificationBanner({
        html: html,
        type: "success"
      }) }}

      <!-- {% set html %}
        <p class="nhsuk-notification-banner__heading">
          Participant successfully removed from group
        </p>
      {% endset %}
      {{ notificationBanner({
        html: html
      }) }} -->
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-card-editable">
        <div>
          <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Test clinic group</h1>
          <span class="nhsuk-caption-m nhsuk-caption--bottom">23 participants</span>
        </div>
        <a href="search" class="nhsuk-button nhsuk-button--secondary">
          Add more participants
        </a>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <table class="nhsuk-table app-participant-table">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header app-column-nhs-number">
              NHS Number
            </th>
            <th scope="col" class="nhsuk-table__header">
              Name
            </th>
            <th scope="col" class="nhsuk-table__header">
              Date of birth
            </th>
            <th scope="col" class="nhsuk-table__header">
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">999 054 3666</td>
            <td class="nhsuk-table__cell">Billie Joanne Marquardt</td>
            <td class="nhsuk-table__cell">15 March 1960</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">943 582 7164</td>
            <td class="nhsuk-table__cell">Alice Marie Gregory</td>
            <td class="nhsuk-table__cell">8 November 1964</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">821 374 0952</td>
            <td class="nhsuk-table__cell">Daphne Hart</td>
            <td class="nhsuk-table__cell">22 July 1958</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">702 195 4836</td>
            <td class="nhsuk-table__cell">Marta O'Neill</td>
            <td class="nhsuk-table__cell">3 May 1971</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">614 287 9305</td>
            <td class="nhsuk-table__cell">Susan Carter</td>
            <td class="nhsuk-table__cell">19 September 1967</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">505 463 1129</td>
            <td class="nhsuk-table__cell">Olivia Barnes</td>
            <td class="nhsuk-table__cell">12 January 1975</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">336 774 2201</td>
            <td class="nhsuk-table__cell">Rachel Price</td>
            <td class="nhsuk-table__cell">27 April 1962</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">223 546 8870</td>
            <td class="nhsuk-table__cell">Hannah Wallace</td>
            <td class="nhsuk-table__cell">6 October 1959</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">410 559 3322</td>
            <td class="nhsuk-table__cell">Fiona Lambert</td>
            <td class="nhsuk-table__cell">14 December 1973</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">196 804 7753</td>
            <td class="nhsuk-table__cell">Georgia Mills</td>
            <td class="nhsuk-table__cell">30 June 1968</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">378 290 4601</td>
            <td class="nhsuk-table__cell">Elaine Fox</td>
            <td class="nhsuk-table__cell">11 February 1976</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">957 613 2084</td>
            <td class="nhsuk-table__cell">Tessa King</td>
            <td class="nhsuk-table__cell">25 August 1963</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">642 109 8875</td>
            <td class="nhsuk-table__cell">Megan Price</td>
            <td class="nhsuk-table__cell">5 February 1961</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">531 678 2209</td>
            <td class="nhsuk-table__cell">Mia Ford</td>
            <td class="nhsuk-table__cell">19 May 1972</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">419 502 6683</td>
            <td class="nhsuk-table__cell">Zoe Grant</td>
            <td class="nhsuk-table__cell">11 March 1965</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">308 244 1196</td>
            <td class="nhsuk-table__cell">Ariana Miles</td>
            <td class="nhsuk-table__cell">28 November 1959</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">297 883 4455</td>
            <td class="nhsuk-table__cell">Bethany Cross</td>
            <td class="nhsuk-table__cell">7 July 1975</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">186 771 9002</td>
            <td class="nhsuk-table__cell">Callie Morris</td>
            <td class="nhsuk-table__cell">14 September 1968</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">075 439 3321</td>
            <td class="nhsuk-table__cell">Helena Rowe</td>
            <td class="nhsuk-table__cell">2 April 1963</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">964 210 5587</td>
            <td class="nhsuk-table__cell">Danielle Nash</td>
            <td class="nhsuk-table__cell">23 June 1970</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">853 619 4470</td>
            <td class="nhsuk-table__cell">Faye Turner</td>
            <td class="nhsuk-table__cell">8 January 1957</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">742 908 2233</td>
            <td class="nhsuk-table__cell">Leona Grant</td>
            <td class="nhsuk-table__cell">15 October 1974</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">631 776 9904</td>
            <td class="nhsuk-table__cell">Nora Blake</td>
            <td class="nhsuk-table__cell">30 December 1966</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
        </tbody>
      </table>

      <a href="pre-appoint-confirm" class="nhsuk-button">
        Book into slots
      </a>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer() }}
{% endblock %}
