{% extends 'layout.html' %}

{% set pageName = "" %}

{% from "z-september-transactional-journey/_includes/min-primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation() }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-card-editable">
        <h1 class="nhsuk-heading-l">Group name</h1>
        <a href="search" class="nhsuk-button nhsuk-button--secondary">
          Add more participants
        </a>
      </div>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <table class="nhsuk-table app-participant-table">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">
              NHS Number
            </th>
            <th scope="col" class="nhsuk-table__header">
              Name
            </th>
            <th scope="col" class="nhsuk-table__header">
              Date of birth
            </th>
            <th scope="col" class="nhsuk-table__header">
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">628 334 7720</td>
            <td class="nhsuk-table__cell">Christine Thompson</td>
            <td class="nhsuk-table__cell">17 September 1967</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">628 334 7720</td>
            <td class="nhsuk-table__cell">Christine Thompson</td>
            <td class="nhsuk-table__cell">17 September 1967</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">628 334 7720</td>
            <td class="nhsuk-table__cell">Christine Thompson</td>
            <td class="nhsuk-table__cell">17 September 1967</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">628 334 7720</td>
            <td class="nhsuk-table__cell">Christine Thompson</td>
            <td class="nhsuk-table__cell">17 September 1967</td>
            <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
          </tr>
        </tbody>
      </table>

      <a href="pre-appoint-confirm" class="nhsuk-button">
        Appoint this group
      </a>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer() }}
{% endblock %}
