{% extends 'layout.html' %}

{% set pageName = "Assign slots to participants" %}

{% from "z-september-transactional-journey/_includes/min-primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation() }}
{% endblock %}

{% block beforeContent %}
<a class="nhsuk-back-link" href="group">
  Back
</a>
{% endblock %}

{% block content %}

  <!-- <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-error-summary" data-module="nhsuk-error-summary">
        <div role="alert">
          <h2 class="nhsuk-error-summary__title">
          There is a problem
          </h2>
          <div class="nhsuk-error-summary__body">
            <p>
              During this test, the number of participants must be less than or the same as the number of available slots
            </p>
            <ul class="nhsuk-list nhsuk-error-summary__list">
              <li>
                <a href="group">Back</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h1 class="nhsuk-heading-l">
          Book participants
        </h1>

        <p>You are booking 48 participants from Test Clinic group into:</p>
        
        <h2 class="nhsuk-heading-m">
          Test Clinic 1
          <span class="nhsuk-caption-m">Tuesday 1 September</span>
        </h2>
        <p>
          Waverley Breast Unit<br>
          Waverley Hospital
        </p>
        <p>48 slots available</p>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>Participants will be booked in random order</p>
        </div>

        <a href="appointing-complete" class="nhsuk-button">
          Book
        </a>
        <!-- <button class="nhsuk-button" data-module="nhsuk-button" type="submit" disabled aria-disabled="true">
          Book
        </button> -->
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer() }}
{% endblock %}
