{% extends 'layout.html' %}

{% set pageName = "Day clinic view" %}

{% from "z-september-transactional-journey/_includes/min-primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation() }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-form-group nhsuk-file-upload" data-module="nhsuk-file-upload">
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--l" for="file-hint">
            Upload a batch
          </label>
        </h1>
        <input class="nhsuk-file-upload__input" id="file-hint" name="file-hint" type="file">
      </div>


      {{ button({
        "text": "Upload file"
      }) }}

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer() }}
{% endblock %}
