{% extends 'layout.html' %}

{% set errorState = "false" %}

{% set pageName = "Template details" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Clinics", serviceName) }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

{% set tickSvg %}
  <svg class="app-icon app-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
  </svg>
{% endset %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">

    <div class="app-workflow-side-nav-wrapper">
      <nav class="app-workflow-side-nav">
        <h2 class="nhsuk-heading-m app-workflow-side-nav__heading">
          <span class="nhsuk-caption-m">
            Workflow steps
          </span>
          Create a clinic 
        </h2>
        <ol class="app-workflow-side-nav__list">
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="00-clinic-details">
              <span class="app-workflow-side-nav__number">{{ tickSvg | safe }}</span>
              <span class="app-workflow-side-nav__label">Clinic details</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
              <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="01-create-schedule">
              <span class="app-workflow-side-nav__number">{{ tickSvg | safe }}</span>
              <span class="app-workflow-side-nav__label">Create schedule</span>
              </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="03-create-session">
              <span class="app-workflow-side-nav__number">{{ tickSvg | safe }}</span>
              <span class="app-workflow-side-nav__label">Create session</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="04-organise-slots">
              <span class="app-workflow-side-nav__number">{{ tickSvg | safe }}</span>
              <span class="app-workflow-side-nav__label">Organise slots</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--disabled">
            <span class="app-workflow-side-nav__link app-workflow-side-nav__link--disabled">
              <span class="app-workflow-side-nav__number">5</span>
              <span class="app-workflow-side-nav__label">Apply session dates</span>
            </span>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--disabled">
            <span class="app-workflow-side-nav__link app-workflow-side-nav__link--disabled">
              <span class="app-workflow-side-nav__number">6</span>
              <span class="app-workflow-side-nav__label">Publish clinic</span>
            </span>
          </li>
        </ol>
      </nav>
    </div>

  </div>
  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-u-reading-width">

      {% if errorState === "true" %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Schedule start date must be given a day, month, and year",
              href: "#"
            },
            {
              text: "Schedule start date must be in the future",
              href: "#"
            },
            {
              text: "Schedule end date must be given a day, month, and year",
              href: "#"
            },
            {
              text: "Schedule end date must be in the future",
              href: "#"
            }
          ]
        }) }}
      {% endif %}

      <h1 class="nhsuk-heading-l">Template details</h1>

      <form action="06-apply-session" method="post">

        <div class="nhsuk-form-group {% if errorState === 'true' %}nhsuk-form-group--error{% endif %}">
          <label class="nhsuk-label nhsuk-label--m" for="clinic-name">
            Template name
          </label>
          <div class="nhsuk-hint" id="template-naming-hint-text">
            A memorable name for this template. This is the name you’ll see everywhere for it, as titles and links.
          </div>
          {% if errorState === "true" %}
            <span class="nhsuk-error-message">
              <span class="nhsuk-u-visually-hidden">Error:</span> Template must be given a name
            </span>
          {% endif %}
          <input class="nhsuk-input {% if errorState === 'true' %}nhsuk-input--error{% endif %} nhsuk-u-width-three-quarters" id="template-name" name="templateName" type="text" aria-describedby="template-naming-hint-text" value="{{ data.templateName if data.templateName else '' }}">
        </div>

        <div class="nhsuk-form-group {% if errorState === 'true' %}nhsuk-form-group--error{% endif %}">
          <label class="nhsuk-label nhsuk-label--m" for="template-description">
            Template description
          </label>
          {% if errorState === "true" %}
            <span class="nhsuk-error-message">
              <span class="nhsuk-u-visually-hidden">Error:</span> Template must be given a description
            </span>
          {% endif %}
          <textarea class="nhsuk-textarea {% if errorState === 'true' %}nhsuk-textarea--error{% endif %} nhsuk-u-width-three-quarters" id="template-description" name="templateDescription" aria-describedby="template-description-hint-text" rows="2">{{ data.templateDescription if data.templateDescription else '' }}</textarea>
        </div>
        
        <button class="nhsuk-button" type="submit">Continue</button>

      </form>
    </div>
  </div>



{% endblock %}