{% extends 'layout.html' %}

{% set errorState = "false" %}

{% set pageName = "Publish clinic" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Clinics", serviceName) }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

{% set tickSvg %}
  <svg class="app-icon app-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
  </svg>
{% endset %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">

    <div class="app-workflow-side-nav-wrapper">
      <nav class="app-workflow-side-nav">
        <h2 class="nhsuk-heading-m app-workflow-side-nav__heading">
          <span class="nhsuk-caption-m">
            Workflow steps
          </span>
          Create a clinic 
        </h2>
        <ol class="app-workflow-side-nav__list">
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="00-clinic-details">
              <span class="app-workflow-side-nav__number">{{ tickSvg | safe }}</span>
              <span class="app-workflow-side-nav__label">Clinic details</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
              <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="01-create-schedule">
              <span class="app-workflow-side-nav__number">{{ tickSvg | safe }}</span>
              <span class="app-workflow-side-nav__label">Create schedule</span>
              </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="03-create-session">
              <span class="app-workflow-side-nav__number">{{ tickSvg | safe }}</span>
              <span class="app-workflow-side-nav__label">Create session</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="04-organise-slots">
              <span class="app-workflow-side-nav__number">{{ tickSvg | safe }}</span>
              <span class="app-workflow-side-nav__label">Organise slots</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="06-apply-session">
              <span class="app-workflow-side-nav__number">{{ tickSvg | safe }}</span>
              <span class="app-workflow-side-nav__label">Apply session dates</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--current">
            <span class="app-workflow-side-nav__link app-workflow-side-nav__link--disabled">
              <span class="app-workflow-side-nav__number">6</span>
              <span class="app-workflow-side-nav__label">Publish clinic</span>
            </span>
          </li>
        </ol>
      </nav>
    </div>

  </div>
  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-u-reading-width">

      {% if errorState === "true" %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Schedule start date must be given a day, month, and year",
              href: "#"
            },
            {
              text: "Schedule start date must be in the future",
              href: "#"
            },
            {
              text: "Schedule end date must be given a day, month, and year",
              href: "#"
            },
            {
              text: "Schedule end date must be in the future",
              href: "#"
            }
          ]
        }) }}
      {% endif %}

      <h1 class="nhsuk-heading-l">Publish clinic</h1>

      <h2 class="nhsuk-heading-m">Clinic details</h2>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Clinic name</dt>
          <dd class="nhsuk-summary-list__value">{{ clinicName }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Clinic ID</dt>
          <dd class="nhsuk-summary-list__value">{{ clinicId }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">BSO Unit</dt>
          <dd class="nhsuk-summary-list__value">{{ unit }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Location</dt>
          <dd class="nhsuk-summary-list__value">{{ location }}</dd>
        </div>
      </dl>

      <h2 class="nhsuk-heading-m">Schedules created so far</h2>

      {% if createdSchedules and createdSchedules.length > 0 %}
        {% for schedule in createdSchedules %}
          <div class="nhsuk-card nhsuk-u-margin-bottom-4">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Schedule {{ loop.index }}</h3>
              <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Start date</dt>
                  <dd class="nhsuk-summary-list__value">{{ schedule.scheduleStartDateLabel }}</dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">End date</dt>
                  <dd class="nhsuk-summary-list__value">{{ schedule.scheduleEndDateLabel }}</dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Sessions attached</dt>
                  <dd class="nhsuk-summary-list__value">{{ schedule.sessionCount }}</dd>
                </div>
              </dl>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="nhsuk-body">No schedules have been created yet.</p>
      {% endif %}

      <a class="nhsuk-button nhsuk-button--secondary" href="add-another-schedule" role="button" draggable="false">Add another schedule</a>
      <div>
        <a class="nhsuk-button" href="09-prototype-end" role="button" draggable="false">Publish this clinic</a>
      </div>
    </div>
  </div>



{% endblock %}