{% extends 'layout.html' %}

{% from "mission-1/current-iteration/includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Manage clinics" if data.missionOne and data.missionOne.returnTo == "clinics" else "Batches", serviceName, bsoName) }}
{% endblock %}

{% block content %}

{% set tickSvg %}
  <svg class="app-icon app-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
  </svg>
{% endset %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">

    <div class="app-workflow-side-nav-wrapper">
      <nav class="app-workflow-side-nav">
        <h2 class="nhsuk-heading-m app-workflow-side-nav__heading">
          <span class="nhsuk-caption-m">
            Workflow steps
          </span>
          Create clinic session
        </h2>
        <ol class="app-workflow-side-nav__list">
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="create-clinic-rev-1-name">
              <span class="app-workflow-side-nav__number">1</span>
              <span class="app-workflow-side-nav__label">Clinic name</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="create-clinic-rev-1-schedule">
              <span class="app-workflow-side-nav__number">2</span>
              <span class="app-workflow-side-nav__label">Scheduled date</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="create-clinic-rev-1-set-timings">
              <span class="app-workflow-side-nav__number">3</span>
              <span class="app-workflow-side-nav__label">Session times</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="create-clinic-rev-1-slot-structure">
              <span class="app-workflow-side-nav__number">4</span>
              <span class="app-workflow-side-nav__label">Slot structure</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--current">
            <span class="app-workflow-side-nav__link" aria-current="page">
              <span class="app-workflow-side-nav__number">5</span>
              <span class="app-workflow-side-nav__label">Check and confirm</span>
            </span>
          </li>
        </ol>
      </nav>
    </div>

  </div>
  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-u-reading-width">

      <h1 class="nhsuk-heading-l">Check and confirm</h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Clinic name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data.missionOne.clinicName }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="create-clinic-rev-1-name">Change<span class="nhsuk-u-visually-hidden"> clinic name</span></a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Scheduled date
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data.missionOne.clinicDate | formatDate }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="create-clinic-rev-1-schedule">Change<span class="nhsuk-u-visually-hidden"> scheduled date</span></a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Session times
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data.missionOne.startTime.hour | zeroPad }}:{{ data.missionOne.startTime.minute | zeroPad }} to {{ data.missionOne.endTime.hour | zeroPad }}:{{ data.missionOne.endTime.minute | zeroPad }}<br>
            {{ data.missionOne.duration }} minute slot length
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="create-clinic-rev-1-set-timings">Change<span class="nhsuk-u-visually-hidden"> session times</span></a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Slot structure
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data.missionOne.bookableSlotCount }} bookable slots<br>
            {{ data.missionOne.staffBreakSlotCount }} slots set as staff break
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="create-clinic-rev-1-slot-structure">Change<span class="nhsuk-u-visually-hidden"> slot structure</span></a>
          </dd>
        </div>
      </dl>

      <form method="post" action="create-clinic-rev-1-save" class="nhsuk-u-margin-top-4">
        <button class="nhsuk-button" type="submit">Save clinic session</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}