{% extends 'layout.html' %}

{% set pageName = "Worthing Hospital" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Organisation", serviceName) }}
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "#",
      text: "Home"
    },
    {
      href: "/bso-objects/",
      text: "Organisation"
    },
    {
      href: "/bso-objects/locations/",
      text: "Locations"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full app-card-editable">
        <div>
          <h1 class="nhsuk-heading-l">
            Worthing Hospital
          </h1>
        </div>
        <p class="nhsuk-u-padding-right-5"><a href="#">Change</a></p>
    </div>
  </div>

  {% set secondaryNavItems = [] %}

  {% for item in [
    { href: 'location-details', label: 'Location details' },
    { href: 'location-travel-and-transport', label: 'Travel and transport', selected: 'true' }
  ] %}
    {% set secondaryNavItems = secondaryNavItems | push({
      text: item.label | safe,
      href: item.href | trim,
      current: true if item.selected == 'true'
    }) %}
  {% endfor %}

  {{ appSecondaryNavigation({
    visuallyHiddenTitle: "Secondary menu",
    items: secondaryNavItems
  }) }}

  {% set insetTextHtml %}
    <p><b>Note:</b> these details appear verbatim in public communications</p>
  {% endset %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {{ insetText({
        html: insetTextHtml,
        classes: "nhsuk-u-margin-top-0"
      }) }}
    </div>
  </div>

  {% set parkingHtml %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Hospital car park</h3>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p>
          <a href="https://www.uhsussex.nhs.uk/hospitals/worthing-hospital/car-parking/">Link to parking information</a><br>
          <a href="#">Open in Google maps</a>
        </p>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Council run pay-and-display</h3>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p>
          <a href="https://www.adur-worthing.gov.uk/parking/worthing-car-parks/#long-stay-beach-house-east-west">Link to parking information</a><br>
          <a href="#">Open in Google maps</a>
        </p>
        <p class="nhsuk-body-s">Links open a new tab or window</p>
      </div>
    </div>
  {% endset %}
  {% call card({
    headingHtml: '
      <div class="app-card-editable nhsuk-u-margin-bottom-4">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Car parking</h2>
        <p class="nhsuk-u-margin-bottom-0"><a href="#">Change</a></p>
      </div>
    '
  }) %}
    {{ parkingHtml | safe }}
  {% endcall %}

  {% set busHtml %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Worthing Hospital</h3>
        <p>
          <a href="https://www.stagecoachbus.com/maps?nearbyLocation%5BCategory%5D=busStop&nearbyLocation%5BGeocode%5D%5BGrid%5D%5Bvalue%5D=WGS84&nearbyLocation%5BGeocode%5D%5BLongitude%5D=-0.3637014558656864&nearbyLocation%5BGeocode%5D%5BLatitude%5D=50.81540012438999&nearbyLocation%5BGeocode%5D%5Bcallback%5D=&nearbyLocation%5BFullText%5D=Worthing%2C%20Hospital&nearbyLocation%5BStopData%5D%5BStopLabel%5D=4400WO0397&nearbyLocation%5Bid%5D=Worthing%2C%20Hospital#tab1" target="_blank">More details on Stagecoach website</a><br>
          <a href="https://maps.app.goo.gl/Hn9UUniDPZwokMWHA" target="_blank">Open in Google maps</a>
        </p>
        <p class="nhsuk-body-s">Links open a new tab or window</p>
      </div>
    </div>
  {% endset %}
  {% call card({
    headingHtml: '
      <div class="app-card-editable nhsuk-u-margin-bottom-4">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Bus stops nearby</h2>
        <p class="nhsuk-u-margin-bottom-0"><a href="#">Change</a></p>
      </div>
    '
  }) %}
    {{ busHtml | safe }}
  {% endcall %}

  {% set railHtml %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Worthing</h3>
        <p>
          <a href="https://www.nationalrail.co.uk/stations/worthing/" target="_blank">More details on National Rail website</a><br>
          <a href="https://maps.app.goo.gl/TotLNWxaiDZ9A4DSA" target="_blank">Open in Google maps</a>
        </p>
        <p class="nhsuk-body-s">Links open a new tab or window</p>
      </div>
    </div>
  {% endset %}
  {% call card({
    headingHtml: '
      <div class="app-card-editable nhsuk-u-margin-bottom-4">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Rail stations nearby</h2>
        <p class="nhsuk-u-margin-bottom-0"><a href="#">Change</a></p>
      </div>
    '
  }) %}
    {{ railHtml | safe }}
  {% endcall %}

  {% set otherHtml %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <ul>
          <li>
            <a href="https://www.uhsussex.nhs.uk/patients-and-visitors/patient-transport/" target="_blank">
              Patient transport services and help with travel costs
            </a>
          </li>
        </ul>
        <p class="nhsuk-body-s">Links open a new tab or window</p>
      </div>
    </div>
  {% endset %}
  {% call card({
    headingHtml: '
      <div class="app-card-editable nhsuk-u-margin-bottom-4">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Other means and information</h2>
        <p class="nhsuk-u-margin-bottom-0"><a href="#">Change</a></p>
      </div>
    '
  }) %}
    {{ otherHtml | safe }}
  {% endcall %}
{% endblock %}
