{{ header({
  account: {
    items: [
      {
        text: "West Berkshire BSO"
      },
      {
        href: "#",
        text: "Thomas Pynchon",
        icon: true
      },
      {
        href: "/",
        text: "Log out"
      }
    ]
  },
  service: {
    text: serviceName,
    href: "/"
  },
  navigation: {
    items: [
      {
        href: "#",
        text: "Dashboard"
      },
      {
        href: "#",
        text: "Manage batches"
      },
      {
        href: "#",
        text: "Manage clinics"
      },
      {
        href: "#",
        text: "Manage other stuff",
        active: true
      },
      {
        href: "#",
        text: "Reports"
      }
    ]
  }
}) }}
