  .app-slot-listing {
    border: 1px solid #aeb7bd;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
      &.--hold {
        background-color: #f0f4f5;
        border-style: dashed;
      }
      &.--merged-start {
        border-bottom: 1px dashed #aeb7bd;
        margin-bottom: 0 !important;
      }
      &.--merged-mid {
        border-top: 0;
        border-bottom: 1px dashed #aeb7bd;
        margin-bottom: 0 !important;
        min-height: 16px;
      }
      &.--merged-end {
        border-top: 0;
        min-height: 16px;
      }
  }

  .app-slot-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
    align-items: top;
  }
  .app-slot-row-controls {
    margin-left: auto;
  }