.app-inline-detailed-search {
  display: flex;
  //gap: 1rem;
  gap: 2rem;

  & > .nhsuk-form-group {
    margin-bottom: 0;
    align-self: flex-end;
  }

  & .nhsuk-button {
    margin-bottom: 4px;
  }

  .nhsuk-date-input__item {
    //margin-right: 8px;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }

  ::placeholder {
    color: #aeb7bd;
  }
}