.app-inline-detailed-search {
  display: flex;
  gap: 1rem;

  & > .nhsuk-form-group {
    margin-bottom: 0;

    &:nth-child(4) {
      width: 210px;
      flex-shrink: 0;
    }
    &:last-child {
      align-self: flex-end;
    }
  }

  & .nhsuk-button {
    margin-bottom: 4px;
  }

  .nhsuk-date-input__item {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }

  ::placeholder {
    color: #aeb7bd;
  }
}