// Import NHS.UK frontend library
@use "nhsuk-frontend/dist/nhsuk/core" as *;

.app-participant-table {

  tbody td {
    height: 100px;
    &.--double {
      height: 200px;
    }
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(224,228,230,.5);
  }
  tbody tr:nth-child(even) {
    background-color: transparent;
  }
  tbody tr.app-container-available {
    background: nhsuk-colour("white");
  }
  tbody tr.app-container-staff-break {
    background: repeating-linear-gradient(130deg, nhsuk-colour("grey-4"), nhsuk-colour("grey-4") 1px, transparent 1px, transparent 12px);
  }

  th:first-child,
  td:first-child {
    padding-left: 6px;
  }

  td:has( > .nhsuk-checkboxes__item) {
    padding-right: 0;
    padding-top: 8px;
    width: 62px;
  }

}

