// Import NHS.UK frontend library
@use "nhsuk-frontend/dist/nhsuk/core" as *;

.app-participant-table {

  tbody td {
    height: 116px;
  }
  tbody tr.--double td {
    height: 232px;
    background-image: 
      repeating-linear-gradient(to right, nhsuk-colour("grey-4"), nhsuk-colour("grey-4") 6px, transparent 6px, transparent 12px);
    background-position: 0 116px;
    background-size: 100% 1px;
    background-repeat: repeat-x;
  }
  tbody tr.--triple td {
    height: 348px;
    background-image: 
      repeating-linear-gradient(to right, nhsuk-colour("grey-4"), nhsuk-colour("grey-4") 6px, transparent 6px, transparent 12px),
      repeating-linear-gradient(to right, nhsuk-colour("grey-4"), nhsuk-colour("grey-4") 6px, transparent 6px, transparent 12px);
    background-position: 0 116px, 0 232px;
    background-size: 100% 1px;
    background-repeat: repeat-x;
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(224,228,230,.5);
  }
  tbody tr:nth-child(even) {
    background-color: transparent;
  }
  // tbody tr.app-container-available {
  //   background: nhsuk-colour("white");
  // }
  tbody tr.app-container-staff-break {
    background: repeating-linear-gradient(130deg, nhsuk-colour("grey-4"), nhsuk-colour("grey-4") 1px, transparent 1px, transparent 12px);
  }

  th:first-child,
  td:first-child {
    padding-left: 6px;
  }

  td:has( > .nhsuk-checkboxes__item) {
    padding-right: 0;
    padding-top: 8px;
    width: 62px;
  }

}

