{% extends 'layout.html' %}

{% set errorState = "false" %}

{% set pageName = "Set date and time" %}

{% block content %}

{% set tickSvg %}
  <svg class="app-icon app-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
  </svg>
{% endset %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">

    <div class="app-workflow-side-nav-wrapper">
      <nav class="app-workflow-side-nav">
        <h2 class="nhsuk-heading-m app-workflow-side-nav__heading">
          <span class="nhsuk-caption-m">
            Workflow steps
          </span>
          Create day clinic
        </h2>
        <ol class="app-workflow-side-nav__list">
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="create-clinic-rev-1">
              <span class="app-workflow-side-nav__number">1</span>
              <span class="app-workflow-side-nav__label">Clinic details</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--completed">
            <a class="app-workflow-side-nav__link app-workflow-side-nav__link--clickable" href="create-clinic-rev-1-set-timings">
              <span class="app-workflow-side-nav__number">2</span>
              <span class="app-workflow-side-nav__label">Clinic session times</span>
            </a>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--current">
            <span class="app-workflow-side-nav__link" aria-current="page">
              <span class="app-workflow-side-nav__number">3</span>
              <span class="app-workflow-side-nav__label">Slot structure</span>
            </span>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--disabled">
            <span class="app-workflow-side-nav__link app-workflow-side-nav__link--disabled">
              <span class="app-workflow-side-nav__number">4</span>
              <span class="app-workflow-side-nav__label">Check and confirm</span>
            </span>
          </li>
        </ol>
      </nav>
    </div>

  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <form action="create-clinic-rev-1-publish-check" method="post">

      <div class="nhsuk-u-reading-width">
        <h1 class="nhsuk-heading-l">Slot structure</h1>
        <h2 class="nhsuk-heading-m">
          <span class="nhsuk-caption-m">Session time</span>
          10:00 to 17:00
        </h2>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div id="slots-container" class="nhsuk-checkboxes nhsuk-checkboxes--small" data-module="nhsuk-checkboxes">

            <div class="slot is-staff-break">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="slot-0" name="slots[]" type="checkbox" value="0">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="slot-0">
                  <span class="slot-time">10:00</span>
                  <span class="slot-end nhsuk-u-secondary-text-colour">to 10:08</span>
                  <span class="slot-tag">
                    <span class="nhsuk-tag nhsuk-tag--grey">Staff break</span>
                  </span>
                </label>
              </div>
            </div>
            
            <div class="slot is-staff-break">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="slot-2" name="slots[]" type="checkbox" value="2">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="slot-2">
                  <span class="slot-time">10:16</span>
                  <span class="slot-end nhsuk-u-secondary-text-colour">to 10:24</span>
                  <span class="slot-tag">
                    <span class="nhsuk-tag nhsuk-tag--grey">Staff break</span>
                  </span>
                </label>
              </div>
            </div>
            
            <div class="slot">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="slot-6" name="slots[]" type="checkbox" value="6">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="slot-6">
                  <span class="slot-time">10:48</span>
                  <span class="slot-end nhsuk-u-secondary-text-colour">to 10:56</span>
                </label>
              </div>
            </div>
            
            <div class="slot">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="slot-7" name="slots[]" type="checkbox" value="7">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="slot-7">
                  <span class="slot-time">10:56</span>
                  <span class="slot-end nhsuk-u-secondary-text-colour">to 11:04</span>
                </label>
              </div>
            </div>
            
            <div class="slot">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="slot-8" name="slots[]" type="checkbox" value="8">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="slot-8">
                  <span class="slot-time">11:04</span>
                  <span class="slot-end nhsuk-u-secondary-text-colour">to 11:12</span>
                </label>
              </div>
            </div>

          </div>
        </div>
        <div class="nhsuk-grid-column-one-quarter" style="position: sticky; top: 0;">
          <div class="side-panel" id="side-panel">
            <h3 class="nhsuk-heading-s">With selected slots:</h3>
            <button class="nhsuk-link nhsuk-u-font-size-19" formaction="url">Set as staff break</button>
            <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
            <button class="nhsuk-link nhsuk-u-font-size-19 app-link--error" formaction="url">Clear slot type</button>
          </div>
          <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
          <p>
            <span id="available-slots">50</span> bookable slots
          </p>
          <p>
            <button class="nhsuk-button" type="submit">Continue</button>
          </p>
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}