{% extends 'layout.html' %}

{% set errorState = "false" %}

{% set pageName = "Create day clinic" %}

{% block content %}

{% set tickSvg %}
  <svg class="app-icon app-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
  </svg>
{% endset %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">

    <div class="app-workflow-side-nav-wrapper">
      <nav class="app-workflow-side-nav">
        <h2 class="nhsuk-heading-m app-workflow-side-nav__heading">
          <span class="nhsuk-caption-m">
            Workflow steps
          </span>
          Create day clinic
        </h2>
        <ol class="app-workflow-side-nav__list">
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--current  ">
            <span class="app-workflow-side-nav__link" aria-current="page">
              <span class="app-workflow-side-nav__number">
                1
              </span>
              <span class="app-workflow-side-nav__label">Clinic details</span>
            </span>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--disabled">
            <span class="app-workflow-side-nav__link app-workflow-side-nav__link--disabled">
              <span class="app-workflow-side-nav__number">2</span>
              <span class="app-workflow-side-nav__label">Set date and time</span>
            </span>
          </li>
          <li class="app-workflow-side-nav__item app-workflow-side-nav__item--disabled">
            <span class="app-workflow-side-nav__link app-workflow-side-nav__link--disabled">
              <span class="app-workflow-side-nav__number">3</span>
              <span class="app-workflow-side-nav__label">Publish clinic</span>
            </span>
          </li>
        </ol>
      </nav>
    </div>

  </div>
  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-u-reading-width">

      {% if errorState === "true" %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Clinic must be given a name",
              href: "#"
            }
          ]
        }) }}
      {% endif %}

      <h1 class="nhsuk-heading-l">Clinic details</h1>

      <form action="create-clinic-rev-1-set-timings" method="post">

        <div class="nhsuk-form-group {% if errorState === 'true' %}nhsuk-form-group--error{% endif %}">
          <label class="nhsuk-label nhsuk-label--m" for="clinic-name">
            Clinic name
          </label>
          <div class="nhsuk-hint" id="naming-hint-text">
            A memorable name for this clinic. This is the name you’ll see everywhere for it, as titles and links.
          </div>
          {% if errorState === "true" %}
            <span class="nhsuk-error-message">
              <span class="nhsuk-u-visually-hidden">Error:</span> Clinic must be given a name
            </span>
          {% endif %}
          <input class="nhsuk-input {% if errorState === 'true' %}nhsuk-input--error{% endif %}" id="clinic-name" name="clinicName" type="text" aria-describedby="naming-hint-text">
        </div>

        <button class="nhsuk-button" type="submit">Continue</button>

      </form>
    </div>
  </div>



{% endblock %}