{% extends 'layout.html' %}

{% set pageName = "Assign slots to participants" %}

{% from "z-september-transactional-journey/_includes/min-primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation() }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <!-- <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-error-summary" data-module="nhsuk-error-summary">
        <div role="alert">
          <h2 class="nhsuk-error-summary__title">
          There is a problem
          </h2>
          <div class="nhsuk-error-summary__body">
            <p>
              During this test, the number of participants must be less than or the same as the number of available slots
            </p>
            <ul class="nhsuk-list nhsuk-error-summary__list">
              <li>
                <a href="group">Back</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="nhsuk-u-reading-width">
    <h1 class="nhsuk-heading-l">
      Book participants
    </h1>
  </div>
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
          <h2 class="nhsuk-heading-s">You are booking 48 participants</h2>

          <details class="nhsuk-details nhsuk-u-margin-bottom-0">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Show chosen participants
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <table class="nhsuk-table app-participant-table">
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th scope="col" class="nhsuk-table__header app-column-nhs-number">
                      NHS Number
                    </th>
                    <th scope="col" class="nhsuk-table__header">
                      Full name
                    </th>
                    <th scope="col" class="nhsuk-table__header">
                      Date of birth
                    </th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">999 054 3666</td>
                    <td class="nhsuk-table__cell">
                      Billie Joanne Marquardt
                    </td>
                    <td class="nhsuk-table__cell">15 March 1960</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">943 582 7164</td>
                    <td class="nhsuk-table__cell">Alice Marie Gregory</td>
                    <td class="nhsuk-table__cell">8 November 1964</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">821 374 0952</td>
                    <td class="nhsuk-table__cell">Daphne Hart</td>
                    <td class="nhsuk-table__cell">22 July 1958</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">702 195 4836</td>
                    <td class="nhsuk-table__cell">Marta O'Neill</td>
                    <td class="nhsuk-table__cell">3 May 1971</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">614 287 9305</td>
                    <td class="nhsuk-table__cell">Susan Carter</td>
                    <td class="nhsuk-table__cell">19 September 1967</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">505 463 1129</td>
                    <td class="nhsuk-table__cell">Olivia Barnes</td>
                    <td class="nhsuk-table__cell">12 January 1975</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">336 774 2201</td>
                    <td class="nhsuk-table__cell">Rachel Price</td>
                    <td class="nhsuk-table__cell">27 April 1962</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">223 546 8870</td>
                    <td class="nhsuk-table__cell">Hannah Wallace</td>
                    <td class="nhsuk-table__cell">6 October 1959</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">410 559 3322</td>
                    <td class="nhsuk-table__cell">Fiona Lambert</td>
                    <td class="nhsuk-table__cell">14 December 1973</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">196 804 7753</td>
                    <td class="nhsuk-table__cell">Georgia Mills</td>
                    <td class="nhsuk-table__cell">30 June 1968</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">378 290 4601</td>
                    <td class="nhsuk-table__cell">Elaine Fox</td>
                    <td class="nhsuk-table__cell">11 February 1976</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">957 613 2084</td>
                    <td class="nhsuk-table__cell">Tessa King</td>
                    <td class="nhsuk-table__cell">25 August 1963</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">642 109 8875</td>
                    <td class="nhsuk-table__cell">Megan Price</td>
                    <td class="nhsuk-table__cell">5 February 1961</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">531 678 2209</td>
                    <td class="nhsuk-table__cell">Mia Ford</td>
                    <td class="nhsuk-table__cell">19 May 1972</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">419 502 6683</td>
                    <td class="nhsuk-table__cell">Zoe Grant</td>
                    <td class="nhsuk-table__cell">11 March 1965</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">308 244 1196</td>
                    <td class="nhsuk-table__cell">Ariana Miles</td>
                    <td class="nhsuk-table__cell">28 November 1959</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">297 883 4455</td>
                    <td class="nhsuk-table__cell">Bethany Cross</td>
                    <td class="nhsuk-table__cell">7 July 1975</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">186 771 9002</td>
                    <td class="nhsuk-table__cell">Callie Morris</td>
                    <td class="nhsuk-table__cell">14 September 1968</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">075 439 3321</td>
                    <td class="nhsuk-table__cell">Helena Rowe</td>
                    <td class="nhsuk-table__cell">2 April 1963</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">964 210 5587</td>
                    <td class="nhsuk-table__cell">Danielle Nash</td>
                    <td class="nhsuk-table__cell">23 June 1970</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">853 619 4470</td>
                    <td class="nhsuk-table__cell">Faye Turner</td>
                    <td class="nhsuk-table__cell">8 January 1957</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">742 908 2233</td>
                    <td class="nhsuk-table__cell">Leona Grant</td>
                    <td class="nhsuk-table__cell">15 October 1974</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">631 776 9904</td>
                    <td class="nhsuk-table__cell">Nora Blake</td>
                    <td class="nhsuk-table__cell">30 December 1966</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          
          <h2 class="nhsuk-heading-s">into Chichester - standard slots May 2026</h2>
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Show clinic details
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <table class="nhsuk-table">
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th scope="col" class="nhsuk-table__header">
                      Clinic
                    </th>
                    <th scope="col" class="nhsuk-table__header">
                      Location
                    </th>
                    <th scope="col" class="nhsuk-table__header">
                      Unit
                    </th>
                    <th scope="col" class="nhsuk-table__header">
                      Timeframe
                    </th>
                    <th scope="col" class="nhsuk-table__header">
                      Capacity
                    </th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row">
                    <th scope="row" class="nhsuk-table__header">
                      Chichester - standard slots May 2026<br>
                      <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-NNN-standard-20260501</span>
                    </th>
                    <td class="nhsuk-table__cell">
                      Chichester<br>
                      <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">St Richard’s Hospital</span>
                    </td>
                    <td class="nhsuk-table__cell">
                      Alpha van<br>
                      <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-mobile-1</span>
                    </td>
                    <td class="nhsuk-table__cell">
                      31 May 2026<br>
                      <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">1 day</span>
                    </td>
                    <td class="nhsuk-table__cell">
                      <div class="app-simple-progress-bar --generic --thin nhsuk-u-padding-1 nhsuk-u-margin-bottom-1" style="--percentage: 0%;"></div>
                      <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">48 slots available of 48</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          
          <div class="nhsuk-u-reading-width">
            <p>Participants will be booked in random order.</p>
          </div>

    </div>
  </div>

  <div class="nhsuk-u-reading-width">
    <div class="nhsuk-button-group">
      <a href="appointing-complete" class="nhsuk-button">
        Confirm and book
      </a>
      <a href="search-and-results" class="nhsuk-button nhsuk-button--secondary">
        Go back
      </a>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer() }}
{% endblock %}
