{% extends 'layout.html' %}

{% set pageName = "Calendar view" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Clinics", serviceName) }}
{% endblock %}

{% block beforeContent %}
  <nav>
    <ol class="app-clinic-level-breadcrumbs nhsuk-list">
      <li class="--item">
        <span class="nhsuk-body-s nhsuk-u-secondary-text-colour nhsuk-u-margin-bottom-0">?</span>
        <a href="#">Clinics</a>
      </li>
      <li class="--item">
        <span class="nhsuk-body-s nhsuk-u-secondary-text-colour nhsuk-u-margin-bottom-0">Clinic</span>
        <a href="#">Chichester - St Richards</a>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l">Clinic</span>
        Chichester - St Richards
      </h1>
      <p>
        <a href="#">Alpha van</a><br>
        <a href="#">St Richard’s Hospital, Chichester</a>
      </p>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
      <ul class="nhsuk-list">
        <li>
          <a href="#">Edit clinic name</a>
        </li>
        <li>
          <a href="#">Change unit and location</a>
        </li>
        <li>
          <a href="#" class="app-link--warning">Archive this clinic</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% set secondaryNavItems = [] %}

      {% for item in [
        { href: '#', label: 'Current schedules', selected: 'true' },
        { href: '#', label: 'Past schedules' }
      ] %}
        {% set secondaryNavItems = secondaryNavItems | push({
          text: item.label | safe,
          href: item.href | trim,
          current: true if item.selected == 'true'
        }) %}
      {% endfor %}

      {{ appSecondaryNavigation({
        visuallyHiddenTitle: "Secondary menu",
        items: secondaryNavItems
      }) }}
    </div>
  </div>
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <p>No schedules yet</p>
      <a href="#" class="nhsuk-button nhsuk-button--secondary-solid">Add a new schedule</a>
    </div>
  </div>
{% endblock %}
