{% extends 'layout.html' %}

{% set pageName = "Calendar view" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Clinics", serviceName) }}
{% endblock %}

{% block beforeContent %}
  <nav>
    <ol class="app-clinic-level-breadcrumbs nhsuk-list">
      <li class="--item">
        <span class="nhsuk-body-s nhsuk-u-secondary-text-colour nhsuk-u-margin-bottom-0">?</span>
        <a href="#">Clinics</a>
      </li>
      <li class="--item">
        <span class="nhsuk-body-s nhsuk-u-secondary-text-colour nhsuk-u-margin-bottom-0">Clinic</span>
        <a href="#">Chichester - St Richards</a>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

  {% include "create-capacity-from-zero/_local-includes/clinic-summary.html" %}

  {% set padlockSvg %}
  <div class="--session-locked">
    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
      <path d="M5.5 8V5.75C5.5 3.67893 7.17893 2 9.25 2C11.3211 2 13 3.67893 13 5.75V8" stroke="#4C6272" stroke-width="1.75" stroke-linecap="round"/>
      <rect x="3" y="7" width="12.5" height="10" rx="1.5" fill="#4C6272"/>
      <circle cx="9.25" cy="11.75" r="1.25" fill="white"/>
      <path d="M9.25 13V14.5" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
    </svg>
    Locked
  </div>
  {% endset %}
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-four-fifths">

        <table class="nhsuk-table nhsuk-table-responsive calendar-table">
          <caption class="nhsuk-table__caption nhsuk-table__caption--s nhsuk-u-font-weight-normal">
            September 2026
          </caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th scope="col" class="nhsuk-table__header">Monday</th>
              <th scope="col" class="nhsuk-table__header">Tuesday</th>
              <th scope="col" class="nhsuk-table__header">Wednesday</th>
              <th scope="col" class="nhsuk-table__header">Thursday</th>
              <th scope="col" class="nhsuk-table__header">Friday</th>
              <th scope="col" class="nhsuk-table__header">Saturday</th>
              <th scope="col" class="nhsuk-table__header">Sunday</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --schedule-start --session-assigned">
                <span class="calendar-table-date">
                  7
                </span>
                <progress class="app-progress-bar --thin --compact --generic" value="9" max="100">9%</progress>
                <a href="#">38 available</a><br>
                4 booked<br>
                8 held<br>
                <span class="--schedule-name">Select schedule</span>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">8</span>
                <progress class="app-progress-bar --thin --compact --generic" value="9" max="100">9%</progress>
                <a href="#">38 available</a><br>
                4 booked<br>
                8 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">9</span>
                <progress class="app-progress-bar --thin --compact --generic" value="9" max="100">9%</progress>
                <a href="#">38 available</a><br>
                4 booked<br>
                8 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">10</span>
                <progress class="app-progress-bar --thin --compact --generic" value="81" max="100">81%</progress>
                <a href="#">8 available</a><br>
                34 booked<br>
                8 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">11</span>
                <progress class="app-progress-bar --thin --compact --generic" value="14" max="100">14%</progress>
                <a href="#">36 available</a><br>
                6 booked<br>
                4 held
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">12</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">13</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">13</span>
                <progress class="app-progress-bar --thin --compact --generic" value="43" max="100">43%</progress>
                <a href="#">24 available</a><br>
                18 booked<br>
                7 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">14</span>
                <progress class="app-progress-bar --thin --compact --generic" value="52" max="100">52%</progress>
                <a href="#">20 available</a><br>
                22 booked<br>
                8 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">15</span>
                <progress class="app-progress-bar --thin --compact --generic" value="60" max="100">60%</progress>
                <a href="#">17 available</a><br>
                25 booked<br>
                5 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">16</span>
                <progress class="app-progress-bar --thin --compact --generic" value="71" max="100">71%</progress>
                <a href="#">12 available</a><br>
                30 booked<br>
                6 held
              </td>

              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">17</span>
                <progress class="app-progress-bar --thin --compact --generic" value="29" max="100">29%</progress>
                <a href="#">30 available</a><br>
                12 booked<br>
                4 held
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">19</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">20</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">21</span>
                <progress class="app-progress-bar --thin --compact --generic" value="19" max="100">19%</progress>
                <a href="#">34 available</a><br>
                8 booked<br>
                4 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">21</span>
                <progress class="app-progress-bar --thin --compact --generic" value="38" max="100">38%</progress>
                <a href="#">26 available</a><br>
                16 booked<br>
                6 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">22</span>
                <progress class="app-progress-bar --thin --compact --generic" value="57" max="100">57%</progress>
                <a href="#">18 available</a><br>
                24 booked<br>
                8 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">23</span>
                <progress class="app-progress-bar --thin --compact --generic" value="76" max="100">76%</progress>
                <a href="#">10 available</a><br>
                32 booked<br>
                5 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">24</span>
                <progress class="app-progress-bar --thin --compact --generic" value="90" max="100">90%</progress>
                <a href="#">4 available</a><br>
                38 booked<br>
                4 held
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">26</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">27</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">28</span>
                <progress class="app-progress-bar --thin --compact --generic" value="50" max="100">50%</progress>
                <a href="#">21 available</a><br>
                21 booked<br>
                5 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">29</span>
                <progress class="app-progress-bar --thin --compact --generic" value="69" max="100">69%</progress>
                <a href="#">13 available</a><br>
                29 booked<br>
                8 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">30</span>
                <progress class="app-progress-bar --thin --compact --generic" value="86" max="100">86%</progress>
                <a href="#">6 available</a><br>
                36 booked<br>
                6 held
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="nhsuk-table calendar-table --sketch">
          <caption class="nhsuk-table__caption nhsuk-table__caption--s nhsuk-u-font-weight-normal">
            October 2026
          </caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th scope="col" class="nhsuk-table__header">Monday</th>
              <th scope="col" class="nhsuk-table__header">Tuesday</th>
              <th scope="col" class="nhsuk-table__header">Wednesday</th>
              <th scope="col" class="nhsuk-table__header">Thursday</th>
              <th scope="col" class="nhsuk-table__header">Friday</th>
              <th scope="col" class="nhsuk-table__header">Saturday</th>
              <th scope="col" class="nhsuk-table__header">Sunday</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">1</span>
                <progress class="app-progress-bar --thin --compact --generic" value="21" max="100">21%</progress>
                <a href="#">33 available</a><br>
                9 booked<br>
                4 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">2</span>
                <progress class="app-progress-bar --thin --compact --generic" value="40" max="100">40%</progress>
                <a href="#">25 available</a><br>
                17 booked<br>
                5 held
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">3</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">4</span>
              </td>
            </tr>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">5</span>
                <progress class="app-progress-bar --thin --compact --generic" value="17" max="100">17%</progress>
                <a href="#">35 available</a><br>
                7 booked<br>
                5 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">6</span>
                <progress class="app-progress-bar --thin --compact --generic" value="17" max="100">17%</progress>
                <a href="#">35 available</a><br>
                7 booked<br>
                5 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">7</span>
                <progress class="app-progress-bar --thin --compact --generic" value="45" max="100">45%</progress>
                <a href="#">23 available</a><br>
                19 booked<br>
                6 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">8</span>
                <progress class="app-progress-bar --thin --compact --generic" value="64" max="100">64%</progress>
                <a href="#">15 available</a><br>
                27 booked<br>
                8 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">9</span>
                <progress class="app-progress-bar --thin --compact --generic" value="83" max="100">83%</progress>
                <a href="#">7 available</a><br>
                35 booked<br>
                4 held
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">10</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">11</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">12</span>
                <progress class="app-progress-bar --thin --compact --generic" value="31" max="100">31%</progress>
                <a href="#">29 available</a><br>
                13 booked<br>
                4 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">13</span>
                <progress class="app-progress-bar --thin --compact --generic" value="52" max="100">52%</progress>
                <a href="#">20 available</a><br>
                22 booked<br>
                5 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">14</span>
                <progress class="app-progress-bar --thin --compact --generic" value="79" max="100">79%</progress>
                <a href="#">9 available</a><br>
                33 booked<br>
                6 held
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">15</span>
                <progress class="app-progress-bar --thin --compact --generic" value="7" max="100">7%</progress>
                <a href="#">39 available</a><br>
                3 booked<br>
                4 held
              </td>
              <td class="nhsuk-table__cell --schedule-end --session-assigned">
                <!-- Schedule end marker -->
                <span class="calendar-table-date">16</span>
                <progress class="app-progress-bar --thin --compact --generic" value="98" max="100">98%</progress>
                <a href="#">1 available</a><br>
                41 booked<br>
                8 held
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">17</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">18</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --schedule-start --session-assigned">
                <span class="calendar-table-date">19</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">20</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">21</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">22</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">23</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">24</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">25</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">26</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">27</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">28</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">29</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">30</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">31</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
            </tr>
          </tbody>
        </table>


        <table class="nhsuk-table calendar-table --sketch">
          <caption class="nhsuk-table__caption nhsuk-table__caption--s nhsuk-u-font-weight-normal">
            November 2026
          </caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th scope="col" class="nhsuk-table__header">Monday</th>
              <th scope="col" class="nhsuk-table__header">Tuesday</th>
              <th scope="col" class="nhsuk-table__header">Wednesday</th>
              <th scope="col" class="nhsuk-table__header">Thursday</th>
              <th scope="col" class="nhsuk-table__header">Friday</th>
              <th scope="col" class="nhsuk-table__header">Saturday</th>
              <th scope="col" class="nhsuk-table__header">Sunday</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">1</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">2</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">3</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">4</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">5</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">6</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">7</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">8</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">9</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">10</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">11</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">12</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">13</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">14</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">15</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">16</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">17</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">18</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">19</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">20</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">21</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">22</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">23</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">24</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">25</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --session-assigned">
                <span class="calendar-table-date">26</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell --schedule-end --session-assigned">
                <span class="calendar-table-date">27</span>
                {{ padlockSvg | safe }}
                <!-- <progress class="app-progress-bar --thin --compact --generic" value="0" max="100">0%</progress> -->
                <a href="#">42 slots</a><br>
                0 booked<br>
                8 held<br>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">28</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">29</span>
              </td>
            </tr>
            <!-- <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">30</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
            </tr> -->
          </tbody>
        </table>
       <a href="#" class="nhsuk-button nhsuk-button--secondary-solid">Add a new schedule</a>
    </div>
    <div class="nhsuk-grid-column-one-fifth" style="position: sticky; top: 0;">
      <div class="side-panel" id="side-panel">
        <h3 class="nhsuk-heading-s">With selected days:</h3>
        <ul class="nhsuk-list">
          <li><a class="panel-item">Open for booking (make live)</a></li>
          <li><a class="panel-item">Release all held slots</a></li>
          <li><a class="panel-item">Do something else</a></li>
          <li><a class="panel-item">Do something wild</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/assets/javascript/calendar-table-actions.js"></script>
{% endblock %}
