{% extends 'layout.html' %}

{% set errorState = "true" if errors else "false" %}

{% set pageName = "" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Clinics", serviceName) }}
{% endblock %}

{% block beforeContent %}
  <a class="nhsuk-back-link" href="clinic-summary">
    Back to clinic
  </a>
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  
  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-u-reading-width">

      {% if errorState === "true" %}
        {% set errorList = [] %}
        {% if errors.scheduleName %}
          {% set errorList = errorList.concat([{ text: errors.scheduleName, href: "#schedule-name" }]) %}
        {% endif %}
        {% if errors.scheduleStartDate %}
          {% set errorList = errorList.concat([{ text: errors.scheduleStartDate, href: "#schedule-start-date-day" }]) %}
        {% endif %}
        {% if errors.scheduleEndDate %}
          {% set errorList = errorList.concat([{ text: errors.scheduleEndDate, href: "#schedule-end-date-day" }]) %}
        {% endif %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <h1 class="nhsuk-heading-l">Create schedule</h1>

      <form method="post">

        <div class="nhsuk-form-group {% if errors and errors.scheduleName %}nhsuk-form-group--error{% endif %}">
          <label class="nhsuk-label nhsuk-label--m" for="schedule-name">
            Schedule name
          </label>
          {% if errors and errors.scheduleName %}
            <span class="nhsuk-error-message">
              <span class="nhsuk-u-visually-hidden">Error:</span> {{ errors.scheduleName }}
            </span>
          {% endif %}
          <input class="nhsuk-input {% if errors and errors.scheduleName %}nhsuk-input--error{% endif %}" id="schedule-name" name="scheduleName" type="text" aria-describedby="naming-hint-text" value="{{ data.createCapacityFromZero.scheduleName if data.createCapacityFromZero.scheduleName else '' }}">
        </div>

        <div class="nhsuk-form-group {% if errors and errors.scheduleStartDate %}nhsuk-form-group--error{% endif %}">
          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-4" role="group" aria-describedby="schedule-start-date-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                Start date
            </legend>
            <div class="nhsuk-hint" id="schedule-start-date-hint">
              For example, 18 6 2026
            </div>
            {% if errors and errors.scheduleStartDate %}
              <span class="nhsuk-error-message">
                <span class="nhsuk-u-visually-hidden">Error:</span> {{ errors.scheduleStartDate }}
              </span>
            {% endif %}
            <div class="nhsuk-date-input" id="schedule-start-date">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="schedule-start-date-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input {% if errors and errors.scheduleStartDate %}nhsuk-input--error{% endif %} nhsuk-input--width-2" id="schedule-start-date-day" name="scheduleStartDate[day]" type="text" inputmode="numeric" value="{{ data.createCapacityFromZero.scheduleStartDate.day if data.createCapacityFromZero.scheduleStartDate else '' }}">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="schedule-start-date-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input {% if errors and errors.scheduleStartDate %}nhsuk-input--error{% endif %} nhsuk-input--width-2" id="schedule-start-date-month" name="scheduleStartDate[month]" type="text" inputmode="numeric" value="{{ data.createCapacityFromZero.scheduleStartDate.month if data.createCapacityFromZero.scheduleStartDate else '' }}">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="schedule-start-date-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input {% if errors and errors.scheduleStartDate %}nhsuk-input--error{% endif %} nhsuk-input--width-4" id="schedule-start-date-year" name="scheduleStartDate[year]" type="text" inputmode="numeric" value="{{ data.createCapacityFromZero.scheduleStartDate.year if data.createCapacityFromZero.scheduleStartDate else '' }}">
                </div>
              </div>
            </div>
          </fieldset>

        </div>

        <div class="nhsuk-form-group {% if errors and errors.scheduleEndDate %}nhsuk-form-group--error{% endif %}">
          <fieldset class="nhsuk-fieldset" role="group" aria-describedby="schedule-end-date-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                End date
            </legend>
            <div class="nhsuk-hint" id="schedule-end-date-hint">
              For example, 18 6 2026
            </div>
            {% if errors and errors.scheduleEndDate %}
              <span class="nhsuk-error-message">
                <span class="nhsuk-u-visually-hidden">Error:</span> {{ errors.scheduleEndDate }}
              </span>
            {% endif %}
            <div class="nhsuk-date-input" id="schedule-end-date">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="schedule-end-date-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input {% if errors and errors.scheduleEndDate %}nhsuk-input--error{% endif %} nhsuk-input--width-2" id="schedule-end-date-day" name="scheduleEndDate[day]" type="text" inputmode="numeric" value="{{ data.createCapacityFromZero.scheduleEndDate.day if data.createCapacityFromZero.scheduleEndDate else '' }}">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="schedule-end-date-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input {% if errors and errors.scheduleEndDate %}nhsuk-input--error{% endif %} nhsuk-input--width-2" id="schedule-end-date-month" name="scheduleEndDate[month]" type="text" inputmode="numeric" value="{{ data.createCapacityFromZero.scheduleEndDate.month if data.createCapacityFromZero.scheduleEndDate else '' }}">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="schedule-end-date-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input {% if errors and errors.scheduleEndDate %}nhsuk-input--error{% endif %} nhsuk-input--width-4" id="schedule-end-date-year" name="scheduleEndDate[year]" type="text" inputmode="numeric" value="{{ data.createCapacityFromZero.scheduleEndDate.year if data.createCapacityFromZero.scheduleEndDate else '' }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        
        
        <button class="nhsuk-button" type="submit">Create schedule</button>

      </form>
    </div>
  </div>



{% endblock %}