{% extends 'layout.html' %}

{% set errorState = "true" if errors else "false" %}

{% set pageName = "" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Clinics", serviceName) }}
{% endblock %}

{% block beforeContent %}
  <a class="nhsuk-back-link" href="/create-capacity-from-zero/">
    Back to clinic listing
  </a>
{% endblock %}

{% block content %}

<form method="post">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">

        {% if errorState === "true" %}
          {% set errorList = [] %}
          {% if errors.clinicName %}
            {% set errorList = errorList.concat([{ text: errors.clinicName, href: "#clinic-name" }]) %}
          {% endif %}
          {% if errors.unit %}
            {% set errorList = errorList.concat([{ text: errors.unit, href: "#unit" }]) %}
          {% endif %}
          {% if errors.location %}
            {% set errorList = errorList.concat([{ text: errors.location, href: "#location-0" }]) %}
          {% endif %}
          {{ errorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <h1 class="nhsuk-heading-l">Clinic details</h1>

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-3 {% if errors and errors.clinicName %}nhsuk-form-group--error{% endif %}">
          <label class="nhsuk-label" for="clinic-name">
            Clinic name
          </label>
          {% if errors and errors.clinicName %}
            <span class="nhsuk-error-message">
              <span class="nhsuk-u-visually-hidden">Error:</span> {{ errors.clinicName }}
            </span>
          {% endif %}
          <input class="nhsuk-input {% if errors and errors.clinicName %}nhsuk-input--error{% endif %}" id="clinic-name" name="clinicName" type="text" value="{{ data.createCapacityFromZero.clinicName if data.createCapacityFromZero.clinicName else '' }}">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-u-secondary-text-colour" for="clinic-id">
            System generated clinic ID
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="clinic-id" name="clinicIdDisplay" type="text" aria-describedby="id-hint-text" value="NNN-NNN-systemid-20260501" disabled>
        </div>

      </div>
    </div>
  </div>
        
  <hr class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">

      <div class="nhsuk-form-group {% if errors and errors.unit %}nhsuk-form-group--error{% endif %}">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            Unit
          </legend>
          {% if errors and errors.unit %}
            <span class="nhsuk-error-message">
              <span class="nhsuk-u-visually-hidden">Error:</span> {{ errors.unit }}
            </span>
          {% endif %}
          <div class="nhsuk-radios nhsuk-radios--small" data-module="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="unit" name="unit" type="radio" value="Static site name" {% if data.createCapacityFromZero.unit == 'Static site name' %}checked{% endif %}>
              <label class="nhsuk-label nhsuk-radios__label" for="unit">
                Static site name
              </label>
            </div>
            <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="unit-2" name="unit" type="radio" value="Alpha Van" {% if data.createCapacityFromZero.unit == 'Alpha Van' %}checked{% endif %}>
              <label class="nhsuk-label nhsuk-radios__label" for="unit-2">
                Alpha Van
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="unit-3" name="unit" type="radio" value="Beta Van" {% if data.createCapacityFromZero.unit == 'Beta Van' %}checked{% endif %}>
              <label class="nhsuk-label nhsuk-radios__label" for="unit-3">
                Beta Van
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="unit-4" name="unit" type="radio" value="Gamma Van" {% if data.createCapacityFromZero.unit == 'Gamma Van' %}checked{% endif %}>
              <label class="nhsuk-label nhsuk-radios__label" for="unit-4">
                Gamma Van
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="unit-5" name="unit" type="radio" value="Delta Van" {% if data.createCapacityFromZero.unit == 'Delta Van' %}checked{% endif %}>
              <label class="nhsuk-label nhsuk-radios__label" for="unit-5">
                Delta Van
              </label>
            </div>
          </div>
        </fieldset>
      </div>
          
    </div>
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-form-group {% if errors and errors.location %}nhsuk-form-group--error{% endif %}">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            Location
          </legend>
          {% if errors and errors.location %}
            <span class="nhsuk-error-message">
              <span class="nhsuk-u-visually-hidden">Error:</span> {{ errors.location }}
            </span>
          {% endif %}
          <div class="nhsuk-radios nhsuk-radios--small" data-module="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="location-0" name="location" type="radio" value="static site location" {% if data.createCapacityFromZero.location == 'static site location' %}checked{% endif %}>
              <label class="nhsuk-label nhsuk-radios__label" for="location-0">
                Static site’s location
              </label>
            </div>
            <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="location-1" name="location" type="radio" value="location name" {% if data.createCapacityFromZero.location == 'location name' %}checked{% endif %}>
              <label class="nhsuk-label nhsuk-radios__label" for="location-1">
                Location name 1
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="location-2" name="location" type="radio" value="location name" {% if data.createCapacityFromZero.location == 'location name' %}checked{% endif %}>
              <label class="nhsuk-label nhsuk-radios__label" for="location-2">
                Location name 2
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="location-3" name="location" type="radio" value="Location name">
              <label class="nhsuk-label nhsuk-radios__label" for="location-3">
                Location name 3
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="location-4" name="location" type="radio" value="Location name">
              <label class="nhsuk-label nhsuk-radios__label" for="location-4">
                Location name 4
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="location-5" name="location" type="radio" value="Location name">
              <label class="nhsuk-label nhsuk-radios__label" for="location-5">
                Location name 5
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="location-6" name="location" type="radio" value="Location name">
              <label class="nhsuk-label nhsuk-radios__label" for="location-6">
                Location name 6
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="location-7" name="location" type="radio" value="Location name">
              <label class="nhsuk-label nhsuk-radios__label" for="location-7">
                Location name 7
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="location-8" name="location" type="radio" value="Location">
              <label class="nhsuk-label nhsuk-radios__label" for="location-8">
                Location name 8
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="location-9" name="location" type="radio" value="Location name">
              <label class="nhsuk-label nhsuk-radios__label" for="location-9">
                Location name 9
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    
    </div>
  </div>
        
  <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
        
  <button class="nhsuk-button" type="submit">Create clinic</button>

</form>



{% endblock %}