{% extends 'layout.html' %}

{% set pageName = "" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Clinics", serviceName) }}
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="#">
        Clinics
      </a>
    </li>
  </ol>
  <a class="nhsuk-back-link" href="#">
    <span class="nhsuk-u-visually-hidden">Back to </span>Clinics
  </a>
</nav>

{% endblock %}

{% block content %}

  {% set secondaryNavItems = [] %}

  {% for item in [
    { href: '/create-capacity-from-zero/', label: 'Active clinics', selected: 'true' },
    { href: '#', label: 'Archived clinics' },
    { href: '#', label: 'Manage session templates' }
  ] %}
    {% set secondaryNavItems = secondaryNavItems | push({
      text: item.label | safe,
      href: item.href | trim,
      current: true if item.selected == 'true'
    }) %}
  {% endfor %}

  {{ appSecondaryNavigation({
    visuallyHiddenTitle: "Secondary menu",
    items: secondaryNavItems
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-card-editable">
        <h1 class="nhsuk-heading-l">Active clinics</h1>
        {{ button({
          text: "Create a new clinic",
          href: "/create-capacity-from-zero/create-clinic",
          classes: "nhsuk-button--secondary"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <table class="nhsuk-table nhsuk-table-responsive">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">
              Clinic
            </th>
            <th scope="col" class="nhsuk-table__header">
              Unit and location
            </th>
            <th scope="col" class="nhsuk-table__header">
              Current schedules
            </th>
            <th scope="col" class="nhsuk-table__header">
              Current capacity
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <a href="#">Existing clinic user defined name<br></a>
              <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">NNN-NNN-systemid-20260501</span>
            </td>
            <td class="nhsuk-table__cell">
              Unit label<br>
              Location short name
            </td>
            <td class="nhsuk-table__cell">
              31 August 2026 to 9 October 2026
            </td>
            <td class="nhsuk-table__cell">
              1500 slots available<br>
              <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">of which 150 held</span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
