{% extends 'layout.html' %}

{% set pageName = "Calendar view" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Clinics", serviceName) }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-l">
        Assign session templates
        Session name
      </h1>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
    </div>
  </div>
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

        <table class="nhsuk-table nhsuk-table-responsive calendar-table">
          <caption class="nhsuk-table__caption nhsuk-table__caption--s nhsuk-u-font-weight-normal">
            September 2026
          </caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th scope="col" class="nhsuk-table__header">Monday</th>
              <th scope="col" class="nhsuk-table__header">Tuesday</th>
              <th scope="col" class="nhsuk-table__header">Wednesday</th>
              <th scope="col" class="nhsuk-table__header">Thursday</th>
              <th scope="col" class="nhsuk-table__header">Friday</th>
              <th scope="col" class="nhsuk-table__header">Saturday</th>
              <th scope="col" class="nhsuk-table__header">Sunday</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <!-- <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">1</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">2</span>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">3</span>
              </td> 
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">4</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">5</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">6</span>
              </td>
            </tr> -->
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell --schedule-start">
                <span class="calendar-table-date">7</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">8</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">9</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">10</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">11</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">12</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">13</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">14</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">15</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">16</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">17</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">18</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">19</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">20</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">21</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">22</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">23</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">24</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">25</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">26</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">27</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">28</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">29</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">30</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="nhsuk-table calendar-table">
          <caption class="nhsuk-table__caption nhsuk-table__caption--s nhsuk-u-font-weight-normal">
            October 2026
          </caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th scope="col" class="nhsuk-table__header">Monday</th>
              <th scope="col" class="nhsuk-table__header">Tuesday</th>
              <th scope="col" class="nhsuk-table__header">Wednesday</th>
              <th scope="col" class="nhsuk-table__header">Thursday</th>
              <th scope="col" class="nhsuk-table__header">Friday</th>
              <th scope="col" class="nhsuk-table__header">Saturday</th>
              <th scope="col" class="nhsuk-table__header">Sunday</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">1</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">2</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">3</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">4</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">5</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">6</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">7</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">8</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">9</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">10</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">11</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">12</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">13</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">14</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">15</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="calendar-table-date">16</span>
              </td>
              <td class="nhsuk-table__cell --schedule-end">
                <span class="calendar-table-date">17</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">18</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">19</span>
              </td>
            </tr>
            <!-- <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">20</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">21</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">22</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">23</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">24</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">25</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">26</span>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">27</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">28</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">29</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">30</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="calendar-table-date">31</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
              <td class="nhsuk-table__cell calendar-table-no-data">
                <span class="nhsuk-u-visually-hidden">No data</span>
              </td>
            </tr> -->
          </tbody>
        </table>
    </div>

    <div class="nhsuk-grid-column-one-quarter" style="position: sticky; top: 0;">
      <div class="side-panel" id="side-panel">
        <h3 class="nhsuk-heading-s">With selected days:</h3>
        <ul class="nhsuk-list">
          <li><a class="panel-item">Assign session template</a></li>
          <li><a class="panel-item">Remove template</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  var lastSelectedCell = null;
  var selectableCells = Array.from(document.querySelectorAll('.calendar-table td:not(.calendar-table-no-data)'));

  document.querySelectorAll('.calendar-table').forEach(function (table) {
    table.addEventListener('click', function (event) {
      var link = event.target.closest('a');
      var cell = event.target.closest('td');

      if (link && table.contains(link)) {
        return;
      }

      if (!cell || !table.contains(cell) || cell.classList.contains('calendar-table-no-data')) {
        return;
      }

      if (event.shiftKey && lastSelectedCell) {
        var startIndex = selectableCells.indexOf(lastSelectedCell);
        var endIndex = selectableCells.indexOf(cell);

        if (startIndex !== -1 && endIndex !== -1) {
          var rangeStart = Math.min(startIndex, endIndex);
          var rangeEnd = Math.max(startIndex, endIndex);

          for (var index = rangeStart; index <= rangeEnd; index++) {
            selectableCells[index].classList.add('--date-selected');
          }
        }
      } else {
        cell.classList.toggle('--date-selected');
      }

      lastSelectedCell = cell;
    });

    table.classList.add('--js-enabled');
  });
</script>
{% endblock %}
