{% extends 'layout.html' %}

{% set pageName = "" %}

{% from "z-september-transactional-journey/_includes/min-primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation() }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="nhsuk-u-reading-width">
  <h1 class="nhsuk-heading-l">
    Choose participants to book
  </h1>
</div>

{% from "september-iteration-2/macros/search-component.html" import participant_search %}
{{ participant_search({
  form_action: "test"
}) }}

{% from "september-iteration-2/macros/participant-listing.html" import participant_listing %}
{{ participant_listing({
  mode: "browse",
  participants: data.participants.default
}) }}

{% endblock %}

{% block footer %}
  {{ footer() }}
{% endblock %}