
{% extends 'layout.html' %}


{% set pageName = "" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Batches", serviceName) }}
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "#",
      text: "Home"
    },
    {
      href: "/batches/",
      text: "Batches"
    },
    {
      href: "/batches/batch-detail-in-progress",
      text: "Chichester - Parklands"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">Chichester - Parklands</span>
    Participants with special requirements
  </h1>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="app-simple-progress-bar --special nhsuk-u-padding-2 nhsuk-u-margin-bottom-4" style="--percentage: 50%;">
        {{ tag({
          text: "6 of 12 appointed",
          classes: "nhsuk-tag--orange"
        }) }}
      </div>
    </div>
  </div>

  <hr class="nhsuk-u-margin-0 nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2 class="nhsuk-heading-m">Participants needing appointments</h2>

      {{ table({
        firstCellIsHeader: false,
        classes: "nhsuk-u-font-size-14",
        head: [
          {
            text: "Name"
          },
          {
            text: "Date of birth"
          },
          {
            text: "Next test due date"
          },
          {
            text: "Requirement"
          }
        ],
        rows: [
          [
            { html: '<a href="#">Barbara Whitfield</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 999 579 7881</span>' },
            { html: '30 April 1961<br><span class="nhsuk-u-secondary-text-colour">(65 years old)</span>' },
            { text: '19 May 2026' },
            { text: 'Implanted medical devices' }
          ],
          [
            { html: '<a href="#">Carol Beaumont</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 999 579 7881</span>' },
            { html: '3 February 1958<br><span class="nhsuk-u-secondary-text-colour">(68 years old)</span>' },
            { text: '14 May 2026' },
            { text: 'Breast implants, implanted medical devices' }
          ],
          [
            { html: '<a href="#">Diane Kowalski</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 999 579 7881</span>' },
            { html: '22 October 1966<br><span class="nhsuk-u-secondary-text-colour">(59 years old)</span>' },
            { text: '14 May 2026' },
            { text: 'Social, emotional and mental health, physical restriction' }
          ],
          [
            { html: '<a href="#">Janet Thornton</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 999 579 7881</span>' },
            { html: '19 June 1970<br><span class="nhsuk-u-secondary-text-colour">(55 years old)</span>' },
            { text: '8 May 2026' },
            { text: 'Implanted medical devices' }
          ],
          [
            { html: '<a href="#">Linda Okafor</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 999 579 7881</span>' },
            { html: '5 November 1956<br><span class="nhsuk-u-secondary-text-colour">(69 years old)</span>' },
            { text: '8 May 2026' },
            { text: 'Implanted medical devices' }
          ],
          [
            { html: '<a href="#">Margaret Holloway</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 999 579 7881</span>' },
            { html: '14 March 1959<br><span class="nhsuk-u-secondary-text-colour">(67 years old)</span>' },
            { text: '2 May 2026' },
            { text: 'Vision, hearing' }
          ]
        ]
      }) }}


      <h2 class="nhsuk-heading-m">Participants with appointments</h2>

      {% call details({
        summaryText: "Show participants with appointments"
      }) %}
        <p>What is useful here?</p>
      {% endcall %}

    </div>
  </div>

{% endblock %}
