
{% extends 'layout.html' %}


{% set pageName = "West Berks mobile screening unit name" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Manage batches", serviceName) }}
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "#",
      text: "Home"
    },
    {
      href: "/batches/",
      text: "Manage batches"
    },
    {
      href: "/batches/batch-detail-in-progress",
      text: "Chichester - Parklands"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">Chichester - Parklands</span>
    Participants with special requirements
  </h1>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="app-simple-progress-bar --special nhsuk-u-padding-2 nhsuk-u-margin-bottom-4" style="--percentage: 0%;">
        {{ tag({
          text: "0 of 10 appointed",
          classes: "nhsuk-tag--orange"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% set select %}
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="selectUser" name="selectUser" type="checkbox" value="userID">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="selectUser">
            <span class="nhsuk-u-visually-hidden">Select name</span>
          </label>
        </div>
      {% endset %}

      {{ table({
        firstCellIsHeader: false,
        classes: "nhsuk-u-font-size-14",
        head: [
          {
            text: "Name"
          },
          {
            text: "Date of birth"
          },
          {
            text: "Next test due date"
          },
          {
            text: "Requirement"
          }
        ],
        rows: [
          [
            { html: '<a href="#">Barbara Whitfield</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 943 579 7881</span>' },
            { html: '30 April 1961<br><span class="nhsuk-u-secondary-text-colour">(65 years old)</span>' },
            { text: '19 May 2026' },
            { text: 'Implanted medical devices' }
          ],
          [
            { html: '<a href="#">Carol Beaumont</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 943 579 7881</span>' },
            { html: '3 February 1958<br><span class="nhsuk-u-secondary-text-colour">(68 years old)</span>' },
            { text: '14 May 2026' },
            { text: 'Breast implants, implanted medical devices' }
          ],
          [
            { html: '<a href="#">Diane Kowalski</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 943 579 7881</span>' },
            { html: '22 October 1966<br><span class="nhsuk-u-secondary-text-colour">(59 years old)</span>' },
            { text: '14 May 2026' },
            { text: 'Social, emotional and mental health, physical restriction' }
          ],
          [
            { html: '<a href="#">Janet Thornton</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 943 579 7881</span>' },
            { html: '19 June 1970<br><span class="nhsuk-u-secondary-text-colour">(55 years old)</span>' },
            { text: '8 May 2026' },
            { text: 'Implanted medical devices' }
          ],
          [
            { html: '<a href="#">Linda Okafor</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 943 579 7881</span>' },
            { html: '5 November 1956<br><span class="nhsuk-u-secondary-text-colour">(69 years old)</span>' },
            { text: '8 May 2026' },
            { text: 'Implanted medical devices' }
          ],
          [
            { html: '<a href="#">Margaret Holloway</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 943 579 7881</span>' },
            { html: '14 March 1959<br><span class="nhsuk-u-secondary-text-colour">(67 years old)</span>' },
            { text: '2 May 2026' },
            { text: 'Vision, hearing' }
          ],
          [
            { html: '<a href="#">Maureen Anand</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 943 579 7881</span>' },
            { html: '16 December 1968<br><span class="nhsuk-u-secondary-text-colour">(57 years old)</span>' },
            { text: '27 May 2026' },
            { text: 'Implanted medical devices' }
          ],
          [
            { html: '<a href="#">Olga Tokarczuk</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 943 579 7881</span>' },
            { html: '1 January 1967<br><span class="nhsuk-u-secondary-text-colour">(00 years old)</span>' },
            { text: '1 May 2026' },
            { text: 'Physical restriction' }
          ],
          [
            { html: '<a href="#">Patricia Ngozi</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 943 579 7881</span>' },
            { html: '9 July 1973<br><span class="nhsuk-u-secondary-text-colour">(52 years old)</span>' },
            { text: '19 May 2026' },
            { text: 'Social, emotional and mental health' }
          ],
          [
            { html: '<a href="#">Susan Patel</a><br><span class="nhsuk-u-secondary-text-colour" style="text-wrap: nowrap;">NHS: 943 579 7881</span>' },
            { html: '28 August 1963<br><span class="nhsuk-u-secondary-text-colour">(62 years old)</span>' },
            { text: '2 May 2026' },
            { text: 'Language' }
          ]
        ]
      }) }}
    </div>
  </div>

{% endblock %}
