
{% extends 'layout.html' %}


{% set pageName = "West Berks mobile screening unit name" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Batches", serviceName) }}
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "#",
      text: "Home"
    },
    {
      href: "/batches/",
      text: "Batches"
    }
  ]
}) }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-6">
      <div class="app-card-editable">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-1">
          <span class="nhsuk-caption-m">HWO-standard-20251212</span>
          Chichester - Parklands
        </h1>
        <p class="nhsuk-u-padding-right-5 nhsuk-u-margin-bottom-1"><a href="#">Edit batch name</a></p>
      </div>
      <div class="nhsuk-body-s nhsuk-u-secondary-text-colour">
        Batch imported 11 June 2026 at 15:53 (example content)
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-u-font-size-36 nhsuk-u-margin-bottom-1">
            <span role="text">
              1352
            </span>
          </h2>
          <a href="#" class="nhsuk-card__link nhsuk-u-font-size-19">total participants</a>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2 class="nhsuk-heading-m">Participant breakdown</h2>
      <ul class="nhsuk-grid-row nhsuk-card-group app-segmented-cards">
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
          {% call card({
            clickable: true
          }) %}
            <div class="swatch hatching--standard" aria-hidden="true"></div>
            <div>
              <a href="/batches/participant-breakdown/standard" class="nhsuk-card__link">1330 standard</a>
            </div>
          {% endcall %}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
          {% call card({
            clickable: true
          }) %}
            <div class="swatch hatching--special" aria-hidden="true"></div>
            <div>
              <a href="/batches/participant-breakdown/special-requirements" class="nhsuk-card__link">12 special requirements</a>
            </div>
          {% endcall %}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
          {% call card({
            clickable: true
          }) %}
            <div class="swatch hatching--ceased" aria-hidden="true"></div>
            <div>
              <a href="#" class="nhsuk-card__link">5 ceased</a>
            </div>
          {% endcall %}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
          {% call card({
            clickable: true
          }) %}
            <div class="swatch hatching--high-risk" aria-hidden="true"></div>
            <div>
              <a href="#" class="nhsuk-card__link">5 very high risk (VHR)</a>
            </div>
          {% endcall %}
        </li>
      </ul>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% call details({
        summaryHtml: '<h2 class="nhsuk-body-m">Further batch information</h2>'
      }) %}
        <p>Participants in this batch represent:</p>
        <ul class="nhsuk-list">
          <li><a href="#">16 postal outcodes</a></li>
          <li><a href="#">4 GP practices</a></li>
        </ul>
      {% endcall %}
    </div>
  </div>

<!--
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h3 class="nhsuk-heading-s">Participant distribution by next test due date</h3>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-batch-overview-sparkline">
        <svg viewBox="0 0 960 64" width="960" height="64" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display:block;">
          <defs>
            <clipPath id="clip"><rect width="960" height="64"/></clipPath>
          </defs>
          <polygon points="0,64 0,26 96,24 192,10 288,28 384,38 480,12 576,30 672,40 768,26 864,24 960,24 960,64" fill="rgba(0,94,184,0.25)" clip-path="url(#clip)"/>
          <polyline points="0,26 96,24 192,10 288,28 384,38 480,12 576,30 672,40 768,26 864,24 960,24" fill="none" stroke="#005eb8" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" clip-path="url(#clip)"/>
        </svg>
      </div>
      <div class="app-u-one-left-one-right nhsuk-u-margin-top-3">
        <div>
          <span class="nhsuk-caption-s">Earliest next test due date:</span>
          <h3 class="nhsuk-heading-xs nhsuk-u-font-weight-normal">
            28 February 2026
          </h3>
        </div>
        <div>
          <span class="nhsuk-caption-s">Latest:</span>
          <h3 class="nhsuk-heading-xs nhsuk-u-font-weight-normal">
            31 March 2026
          </h3>
        </div>
      </div>
    </div>
  </div>
-->
</section>

<hr class="nhsuk-u-margin-0 nhsuk-u-margin-bottom-4">

<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-heading-l">Batch progress</h2>
      <div class="app-simple-progress-bar --generic nhsuk-u-padding-2" style="--percentage: 97%;">
        {{ tag({
          text: "1306 of 1352 dealt with",
          classes: "nhsuk-tag--blue"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-2">
      <h2 class="nhsuk-heading-s nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-2">Appointed</h2>
      <a href="/batches/participant-breakdown/standard" class="nhsuk-u-font-size-19">Standard</a>
    </div>
  </div>
  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="app-simple-progress-bar --standard nhsuk-u-padding-2" style="--percentage: 100%;">
        {{ tag({
          text: "1330 of 1330 appointed",
          classes: "nhsuk-tag--green"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-2">
      <a href="/batches/participant-breakdown/special-requirements" class="nhsuk-u-font-size-19">Special requirements</a>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="app-simple-progress-bar --special nhsuk-u-padding-2" style="--percentage: 50%;">
        {{ tag({
          text: "6 of 12 appointed",
          classes: "nhsuk-tag--orange"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-2">
      <h2 class="nhsuk-heading-s nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-2">Reconciled</h2>
      <a href="#" class="nhsuk-u-font-size-19">Ceased</a>
    </div>
  </div>
  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="app-simple-progress-bar --ceased nhsuk-u-padding-2" style="--percentage: 0%;">
        {{ tag({
          text: "0 of 5 reconciled",
          classes: "nhsuk-tag--grey"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-2">
      <a href="#" class="nhsuk-u-font-size-19">Very high risk (VHR)</a>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="app-simple-progress-bar --vhr nhsuk-u-padding-2" style="--percentage: 0%;">
        {{ tag({
          text: "0 of 5 reconciled",
          classes: "nhsuk-tag--red"
        }) }}
      </div>
    </div>
  </div>
</section>

<hr class="nhsuk-u-margin-0 nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4">

<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% call details({
        summaryHtml: '<h2 class="nhsuk-body-m">Clinics associated with this batch</h2>'
      }) %}



        {% include "_includes/clinics/clinic-listing-table.html"%}

      {% endcall %}
    </div>
  </div>
</section>

{% endblock %}
