
{% extends 'layout.html' %}


{% set pageName = "West Berks mobile screening unit name" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Batches", serviceName) }}
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "#",
      text: "Home"
    },
    {
      href: "/batches/",
      text: "Batches"
    }
  ]
}) }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-6">
      <div class="app-card-editable">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-1">
          <span class="nhsuk-caption-m">HWO-standard-20251209</span>
          Crawley - Pound Hill
        </h1>
        <p class="nhsuk-u-padding-right-5 nhsuk-u-margin-bottom-1"><a href="#">Edit batch name</a></p>
      </div>
      <div class="nhsuk-body-s nhsuk-u-secondary-text-colour">
        Batch imported 11 June 2026 at 15:53 (example content)
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-u-font-size-36 nhsuk-u-margin-bottom-1">
            <span role="text">
              2172
            </span>
          </h2>
          <a href="#" class="nhsuk-card__link nhsuk-u-font-size-19">total participants</a>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2 class="nhsuk-heading-m">Participant breakdown</h2>
      <ul class="nhsuk-grid-row nhsuk-card-group app-segmented-cards">
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
          {% call card({
            clickable: true
          }) %}
            <div class="swatch hatching--standard" aria-hidden="true"></div>
            <div>
              <a href="#" class="nhsuk-card__link">2150 standard</a>
            </div>
          {% endcall %}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
          {% call card({
            clickable: true
          }) %}
            <div class="swatch hatching--special" aria-hidden="true"></div>
            <div>
              <a href="#" class="nhsuk-card__link">12 special requirements</a>
            </div>
          {% endcall %}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
          {% call card({
            clickable: true
          }) %}
            <div class="swatch hatching--ceased" aria-hidden="true"></div>
            <div>
              <a href="#" class="nhsuk-card__link">5 ceased</a>
            </div>
          {% endcall %}
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
          {% call card({
            clickable: true
          }) %}
            <div class="swatch hatching--high-risk" aria-hidden="true"></div>
            <div>
              <a href="#" class="nhsuk-card__link">5 very high risk (VHR)</a>
            </div>
          {% endcall %}
        </li>
      </ul>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% call details({
        summaryHtml: '<h2 class="nhsuk-body-m">Further batch information</h2>'
      }) %}
        <p>Participants in this batch represent:</p>
        <ul class="nhsuk-list">
          <li><a href="#">16 postal outcodes</a></li>
          <li><a href="#">4 GP practices</a></li>
        </ul>
      {% endcall %}
    </div>
  </div>
</section>

<hr class="nhsuk-u-margin-0 nhsuk-u-margin-bottom-4">

<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-heading-l">Batch progress</h2>
      <progress class="app-progress-bar --generic" value="0" max="100">0%</progress>
      <p class="nhsuk-u-secondary-text-colour">0 of 2172 dealt with</p>
      <div class="app-simple-progress-bar --generic nhsuk-u-padding-2" style="--percentage: 0%;">
        {{ tag({
          text: "0 of 2172 dealt with",
          classes: "nhsuk-tag--blue"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-2">
      <h2 class="nhsuk-heading-s nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-2">Appointed</h2>
      <a href="#" class="nhsuk-u-font-size-19">Standard</a>
    </div>
  </div>
  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-two-thirds">
      <progress class="app-progress-bar --standard" value="0" max="100">0%</progress>
      <p class="nhsuk-u-secondary-text-colour">0 of 2150 appointed</p>
      <div class="app-simple-progress-bar --standard nhsuk-u-padding-2" style="--percentage: 0%;">
        {{ tag({
          text: "0 of 2150 appointed",
          classes: "nhsuk-tag--green"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-2">
      <a href="#" class="nhsuk-u-font-size-19">Special requirements</a>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <progress class="app-progress-bar --special" value="0" max="100">0%</progress>
      <p class="nhsuk-u-secondary-text-colour">0 of 12 appointed</p>
      <div class="app-simple-progress-bar --special nhsuk-u-padding-2" style="--percentage: 0%;">
        {{ tag({
          text: "0 of 12 appointed",
          classes: "nhsuk-tag--orange"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-2">
      <h2 class="nhsuk-heading-s nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-2">Reconciled</h2>
      <a href="#" class="nhsuk-u-font-size-19">Ceased</a>
    </div>
  </div>
  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-two-thirds">
      <progress class="app-progress-bar --ceased" value="0" max="100">0%</progress>
      <p class="nhsuk-u-secondary-text-colour">0 of 5 reconciled</p>
      <div class="app-simple-progress-bar --ceased nhsuk-u-padding-2" style="--percentage: 0%;">
        {{ tag({
          text: "0 of 5 reconciled",
          classes: "nhsuk-tag--grey"
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-2">
      <a href="#" class="nhsuk-u-font-size-19">Very high risk (VHR)</a>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <progress class="app-progress-bar --vhr" value="0" max="100">0%</progress>
      <p class="nhsuk-u-secondary-text-colour">0 of 5 reconciled</p>
      <div class="app-simple-progress-bar --vhr nhsuk-u-padding-2" style="--percentage: 0%;">
        {{ tag({
          text: "0 of 5 reconciled",
          classes: "nhsuk-tag--red"
        }) }}
      </div>
    </div>
  </div>
</section>

<hr class="nhsuk-u-margin-0 nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4">

<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% call details({
        summaryHtml: '<h2 class="nhsuk-body-m">Clinics associated with this batch</h2>'
      }) %}
        <p>No clinics associated with this batch</p>
      {% endcall %}
    </div>
  </div>
</section>

{% endblock %}
