{% extends 'layout.html' %}

{% set pageName = "Batches" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Batches", serviceName) }}
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
  items: [
    {
      href: "#",
      text: "Home"
    }
  ]
}) }}

{% endblock %}

{% block content %}
  <div class="app-card-editable">
    <h1 class="nhsuk-heading-l">Batches</h1>

    {{ button({
      text: "Import a new batch",
      href: "#",
      classes: "nhsuk-button--secondary"
    }) }}
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% set batch_1 %}
        <a href="/batches/batch-detail">
          Crawley - Pound Hill<br>
        </a>
        <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-standard-20251209</span>
      {% endset %}
      {% set batch_1_progress %}
        <progress class="app-progress-bar --generic" value="0" max="100">0%</progress>  
        <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">0 of 2172 appointed</span>
      {% endset %}

      {% set batch_2 %}
        <a href="/batches/batch-detail-in-progress">
          Chichester - Parklands<br>
        </a>
        <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-standard-20251212</span>
      {% endset %}
      {% set batch_2_progress %}
        <progress class="app-progress-bar --generic" value="97" max="100">97%</progress>
        <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">1306 of 1352 appointed</span>
      {% endset %}

      {% set failsafe %}
        <a href="#">
          February failsafe<br>
        </a>
        <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-failsafe-20260115</span>
      {% endset %}
      {% set failsafe_progress %}
        <progress class="app-progress-bar --generic" value="0" max="100">0%</progress>
        <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">0 of 308 appointed</span>
      {% endset %}

      {% set auto %}
        <a href="#">
          Aged over 71 - slippage 03-Feb-2026 11:00<br>
        </a>
        <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-auto-slippage-2020203-1100</span>
      {% endset %}
      {% set auto_progress %}
        <progress class="app-progress-bar --generic" value="0" max="100">0%</progress>
        <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">0 of 2 appointed</span>
      {% endset %}

      {% set auto_2 %}
        <a href="#">
          Aged 53 - never invited 03-Feb-2026 11:00<br>
        </a>
        <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">HWO-auto-never-invited-2020203-1100</span>
      {% endset %}
      {% set auto_2_progress %}
        <progress class="app-progress-bar --generic" value="0" max="100">0%</progress>
        <span class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-colour">0 of 4 appointed</span>
      {% endset %}

      {{ table({
        firstCellIsHeader: false,
        head: [
          {
            text: "Batch"
          },
          {
            text: "Type"
          },
          {
            text: "Progress"
          }
        ],
        rows: [
          [
            {
              html: failsafe
            },
            {
              text: "Failsafe"
            },
            {
              html: failsafe_progress
            }
          ],
          [
            {
              html: auto
            },
            {
              text: "Auto"
            },
            {
              html: auto_progress
            }
          ],
          [
            {
              html: auto_2
            },
            {
              text: "Auto"
            },
            {
              html: auto_2_progress
            }
          ],
          [
            {
              html: batch_1
            },
            {
              text: "Standard"
            },
            {
              html: batch_1_progress
            }
          ],
          [
            {
              html: batch_2
            },
            {
              text: "Standard"
            },
            {
              html: batch_2_progress
            }
          ]
        ]
      }) }}


    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-u-visually-hidden">Completed batches</h2>
      <p>
        <a href="#">View completed batches</a>
      </p>
    </div>
  </div>
{% endblock %}
