{% extends 'layout.html' %}

{% set pageName = "Manage batches" %}

{% from "_includes/primary-navigation.html" import primaryNavigation %}
{% block header %}
  {{ primaryNavigation("Manage batches", serviceName) }}
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
  items: [
    {
      href: "#",
      text: "Home"
    }
  ]
}) }}

{% endblock %}

{% block content %}
  <div class="app-card-editable">
    <h1 class="nhsuk-heading-l">Batches in progress</h1>

    {{ button({
      text: "Import a new batch",
      href: "#",
      classes: "nhsuk-button--secondary"
    }) }}
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% set batch_new %}
        <a href="/batches/batch-detail">
          Harrogate Practices Feb-March 2026 Round 13<br>
          <span class="nhsuk-u-font-size-16 nhsuk-u-font-weight-normal">BYO-NTDD-20260101</span>
        </a>
      {% endset %}
      {% set progress_new %}
        <div class="app-simple-progress-bar --generic --thin nhsuk-u-padding-1" style="--percentage: 0%;">
          {{ tag({
            text: "0 of 610",
            classes: "nhsuk-tag--blue"
          }) }}
        </div>
      {% endset %}

      {% set batch %}
        <a href="/batches/batch-detail-in-progress">
          Malton Practices Apr-May 26 NTDD RD 13<br>
          <span class="nhsuk-u-font-size-16 nhsuk-u-font-weight-normal">BYO-NTDD-20260201</span>
        </a>
      {% endset %}
      {% set progress %}
        <div class="app-simple-progress-bar --generic --thin nhsuk-u-padding-1" style="--percentage: 98%;">
          {{ tag({
            text: "704 of 715",
            classes: "nhsuk-tag--blue"
          }) }}
        </div>
      {% endset %}

      {{ table({
        firstCellIsHeader: true,
        head: [
          {
            text: "Batch"
          },
          {
            text: "Type"
          },
          {
            text: "Participants",
            format: "numeric"
          },
          {
            text: "Progress"
          }
        ],
        rows: [
          [
            {
              html: batch_new
            },
            {
              text: "Standard (NTDD)"
            },
            {
              text: "610",
              format: "numeric"
            },
            {
              html: progress_new
            }
          ],
          [
            {
              html: batch
            },
            {
              text: "Standard (NTDD)"
            },
            {
              text: "715",
              format: "numeric"
            },
            {
              html: progress
            }
          ]
        ]
      }) }}


    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-u-visually-hidden">Completed batches</h2>
      <p>
        <a href="#">View completed batches</a>
      </p>
    </div>
  </div>
{% endblock %}
