<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        {{ serviceName }}
      </h1>

      {{ button({
        text: "Reset all session data",
        classes: "nhsuk-button--secondary",
        href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode)
      }) }}

      <h2 class="nhsuk-heading-m">August 2026</h2>
      <p>Clinics with schedules ideation</p>
      <ol>
        <li>
          <a href="/clinics">Create a new clinic (containers)</a>
        </li>
        <li>
          <a href="/clinics-schedules">Create a new clinic (transaction)</a>
        </li>
      </ol>
      <p>Appointments and active clinics</p>
      <ol>
        <li>
          <a href="/sessions/day-slot-view">Single live (with bookings) clinic session view</a>
          <strong class="nhsuk-tag nhsuk-tag--orange">
            Paused
          </strong>
        </li>
      </ol>

      <h2 class="nhsuk-heading-m">July 2026</h2>
      <p>Sessions: first run</p>
      <ol>
        <li>
          <a href="/sessions/01-set-timings">Set up session</a>
        </li>
      </ol>
      <p>Session templates: iteration 1</p>
      <ol>
        <li>
          <a href="sessions/templating-01-listing">Template listing</a>
        </li>
      </ol>
      <h2 class="nhsuk-heading-m">
        May–June 2026
        <strong class="nhsuk-tag nhsuk-tag--red">
          superceded
        </strong>
      </h2>
      <p>Clinics: first run</p>
      <ol>
        <li>
          <a href="/clinics/z-older-versions/">Clinic listing</a>
        </li>
        <li>
          <a href="/clinics/z-older-versions/clinic-detail">Clinic detail</a>
        </li>
      </ol>

      <h2 class="nhsuk-heading-m">April 2026</h2>
      <p>
        Batches: first run
        <strong class="nhsuk-tag nhsuk-tag--orange">
          Paused
        </strong>
      </p>

      <ol>
        <li>
          <a href="/batches/">Batch listing</a>
        </li>
        <li>
          <a href="/batches/batch-detail">Brand new batch</a>
        </li>
        <li>
          <a href="/batches/batch-detail-in-progress">Batch in progress</a>
        </li>
      </ol>

      <h2 class="nhsuk-heading-m">March 2026</h2>
      <p>
        BSO-level building blocks
        <strong class="nhsuk-tag nhsuk-tag--orange">
          Paused
        </strong>
      </p>

      <ol>
        <li>
          <a href="/bso-objects/">Organisation, breast screening units, and locations</a>
        </li>
        <li>
          <a href="/bso-objects/bso/bso-public-details">BSO organisation</a>
        </li>
        <li>
          <a href="/bso-objects/units">Breast screening units</a>
        </li>
        <li>
          <a href="/bso-objects/locations/">Locations</a>
        </li>
      </ol>

      <hr>

      <h3 class="nhsuk-heading-l">Mission 1</h3>
      <div class="nhsuk-inset-text">
        <p>
          <b>Mural:</b> <a href="https://app.mural.co/t/nhsdigital8118/m/nhsdigital8118/1779182652812/0015966bbee6d6a0182a2afb7fc482a45756e20d?wid=0-1787749959118">0000-01 C2C September Test</a>
        </p>
      </div>
      <h4 class="nhsuk-heading-s">Create clinic module: live test #2</h4>
      <p>Enable test BSO to creat a clinic lasting one day</p>
      <ol>
        <li>
          <a href="/september-iteration-2/create-clinic">Create a new clinic from listing page</a>
        </li>
      </ol>
      <h4 class="nhsuk-heading-s">Live test #1</h4>
      <p>Users upload a csv containing the participants they wish to book into a prearranged single day clinic.</p>
      <p>
        <a href="/september-iteration-2/clickthru/01-upload">Click-thru journey</a>
      </p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Older work (may be broken)
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4 class="nhsuk-heading-s">Iteration 1</h4>
          <p>Users upload a csv containing the participants they wish to book into a prearranged single day clinic.</p>
          <ol>
            <li>
              <a href="/z-september-transactional-journey/upload-a-batch">Upload a batch</a>
            </li>
            <li>
              <a href="/z-september-transactional-journey/batch-detail-trimmed-csv">Batch detail for trimmed csv</a>
            </li>
            <li>
              <a href="/z-september-transactional-journey/pre-appoint-confirm">Pre-appointment confirmation</a>
            </li>
            <li>
              <a href="/z-september-transactional-journey/appointing-complete">Single day of appointments</a>
            </li>
          </ol>
          <p>Defunct work on finding and grouping participants. Components to be reused elsewhere.</p>
          <ol>
        <li>
          <a href="/z-september-transactional-journey/batch-detail">Batch detail</a>
        </li>
        <li>
          <a href="/z-september-transactional-journey/search">Search participants</a>
        </li>
        <li>
          <a href="/z-september-transactional-journey/search-and-results">Search results</a>
        </li>
        <li>
          <a href="/z-september-transactional-journey/group">Group</a>
        </li>
        <li>
          <a href="/z-september-transactional-journey/spinner">[Utility] "appointing" spinner</a>
        </li>
          </ol>
        </div>
      </details>

      <hr>

      <h3 class="nhsuk-heading-m">Sketchbook</h3>
      <ol>
        <li>
          <a href="/z-sketching/calc-2">Rough idea: assembling a block of slots</a>
        </li>
        <li>
          <a href="/z-sketching/batch-participant-search-wireframe">Wireframe proto: search participants in a batch</a>
        </li>
      </ol>

    </div>
  </div>
{% endblock %}
